<footer>
    <section class="container">
      <div><a href="{{ "/compare-table.html" | relative_url }}">Plain compare table</a> | <a href="{{ "/contact.html" | relative_url }}">Contact me</a></div>
        <div><span class="text-muted">
            <a href="{{ "/contact.html" | relative_url }}">Please Contact me for add any other frameworks or if you find any information mentioned here wrong.</a>
        </span></div>
        <span class="text-muted">&copy; {{ site.time | date: '%Y' }} <a href="http://saravanakumar.org">Saravanakumar.org</a></span>
    </section>
</footer>