.#{$site-class-prefix}ads {
    padding: $spacer 0;
}

.published_at {
    width: 160px;
}

.prerelease {
    width: 140px;
}

.yes {
    color: $brand-success;
}

.no {
    color: $gray-light;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder-disabled:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    color: $gray-light;
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.all-links {
    background-color: $gray;
    padding: $spacer * 2;
    li {
            #{$a-tags} {
      color: $header-color;
      text-decoration: none;
    }
        
    }
    .items {
        padding: $spacer/2;
            #{$a-tags} {
      color: $header-color;
      text-decoration: none;
    }
    #{$a-tags-hover} {
      color: $header-color;
    }
    }
}

.#{$site-class-prefix}loading {
    padding: $spacer*3 0;
}

.#{$site-class-prefix}round-border {
      padding: $thumbnail-padding;
      background-color: $thumbnail-bg;
      border: $thumbnail-border-width solid $thumbnail-border-color;
}

.#{$site-class-prefix}table {
    #{$a-tags} {
        color: $table-link-color;
        text-decoration: underline;
    }
    #{$a-tags-hover} {
        color: $table-link-color-hover;
    }
}

.#{$site-class-prefix}filter {
    max-height: 200px;
    min-height: 200px;
    padding: $spacer/3;
    overflow-y: auto;
    background-color: $white-color;
    label{
        margin-right: $spacer;
        margin-bottom: $spacer/2;
    }
}


.#{$site-class-prefix}compare {
    .yes {
        color: $brand-success;        
    }
    .no {
        color: $brand-danger;
    }    
    
    .na {
        color: $gray-light;
    }
}

.#{$site-class-prefix}na {
	color: $gray-light;
}

.#{$site-class-prefix}card-aqua {
    background-color: $aqua;
    border-color: $aqua;	
}
.#{$site-class-prefix}card-yellow {
    background-color: $yellow;
    border-color: $yellow;	
}
.#{$site-class-prefix}card-blue {
    background-color: $blue;
    border-color: $blue;	
}
.#{$site-class-prefix}card-navy {
    background-color: $navy;
    border-color: $navy;	
}
.#{$site-class-prefix}card-brown {
    background-color: $brown;
    border-color: $brown;	
}
.#{$site-class-prefix}card-orange {
    background-color: $orange;
    border-color: $orange;	
}
.#{$site-class-prefix}card-fuchsia {
    background-color: $fuchsia;
    border-color: $fuchsia;	
}
.#{$site-class-prefix}card-purple {
    background-color: $purple;
    border-color: $purple;	
}
.#{$site-class-prefix}card-maroon {
    background-color: $maroon;
    border-color: $maroon;	
}