<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Bulma",
  "image" : "https://avatars1.githubusercontent.com/u/1254808?v&#x3D;4",
  "url" : "https://bulma.io",
  "author" : {
    "@type" : "Person",
    "name" : "jgthms"
  },
  "datePublished" : "2019-10-18",
  "publisher" : {
    "@type" : "Person",
    "name" : "jgthms"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/jgthms/bulma",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, Shell",
  "softwareVersion" : "0.8.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "37674"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2019-12-08",
    "reviewBody" : "Written in Sass   This is frameworks design for plain, metro. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Bulma</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars1.githubusercontent.com/u/1254808?v&#x3D;4" alt="jgthms">
  </div>
  <div class="media-body">
    <p>Modern CSS framework based on Flexbox</p>
    <p>Developed by User:jgthms</p>
    <p><small>Used languages: CSS(122.70 kB), Shell(1.22 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/jgthms/bulma" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://bulma.io" role="button" target="_blank">Visit Bulma Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span>, <span class="text-capitalize">metro</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">0.8.0</h2>
                <p class="card-text"><small>137.92 kB</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Oct 18, 2019</h2>
                <p class="card-text"><small>Created at Jan 24, 2016</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Dec 3, 2019
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">297</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">3,118</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">37,674</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">680</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on October 18, 2019 for 0.8.0</small>
    </h1>
        <h3 id="bigupdate">Big update</h3>
<h4 id="largerformcontrols">Larger form controls</h4>
<p>Controls and buttons are now <code>2.5em</code> high. You can revert this resizing by setting these previous values:</p>
<pre><code class="sass language-sass">$control-height: 2.25em
$control-padding-vertical: calc(0.375em - #{$control-border-width})
$control-padding-horizontal: calc(0.625em - #{$control-border-width})
$button-padding-vertical: calc(0.375em - #{$button-border-width})
$button-padding-horizontal: 0.75em 
</code></pre>
<h4 id="lightanddarkcolors">Light and dark colors</h4>
<p>Each main color (<code>"primary"</code>, <code>"info"</code>, <code>"success"</code>, <code>"warning"</code>, <code>"danger"</code>) now has a <code>*-light</code> and <code>*-dark</code> version. They are calculated using 2 new color functions:</p>
<ul>
<li><code>findLightColor()</code> which finds the light version of a color</li>
<li><code>findDarkolor()</code> which finds the dark version of a color</li>
</ul>
<p>The light colors are used by the <code>button</code> element, while the light and dark colors are used by the <code>message</code> component.</p>
<h4 id="panelcolors">Panel colors</h4>
<p>The <code>panel</code> component is now available in all the different colors.</p>
<h4 id="4valuecolormap">4-value color map</h4>
<p>The <code>$colors</code> Sass map now accepts, for each of its values, a map of up to <strong>4</strong> values. For example: the key <code>"info"</code> now has the <code>($info, $info-invert, $info-light, $info-dark)</code> map.</p>
<p>If you provide a <code>$custom-colors</code> map, you can decide to provide a map of 1, 2, 3 or 4 values for each value. If fewer than 4 are provided, Bulma will calculate the remaining ones:</p>
<pre><code class="scss language-scss">$custom-colors: (
  "lime": (lime),
  "tomato": (tomato, white),
  "orange": ($orange, $orange-invert, $orange-light),
  "lavender": ($lavender, $lavender-invert, $lavender-light, $lavender-dark)
);
</code></pre>
<p>This is processed by the updated <code>mergeColorMaps()</code> Sass function.</p>
<h4 id="schemevariables">Scheme variables</h4>
<p>There are 6 new <code>$scheme</code> derived variables: <code>$scheme-main</code> <code>$scheme-main-bis</code> <code>$scheme-main-ter</code> <code>$scheme-invert</code> <code>$scheme-invert-bis</code> <code>$scheme-invert-ter</code>
They replace the <code>$white</code> and <code>$black</code> occurences in the codebase. This makes it easy to create a "Dark mode" simply by swapping the values:</p>
<pre><code class="sass language-sass">$scheme-main: $black
$scheme-invert: $white
// etc.
</code></pre>
<p>That is also why most of the codebase now references <strong>derived</strong> variables (<code>$text</code>, <code>$background</code>, <code>$border</code> etc.) instead of <strong>initial</strong> ones (<code>$grey</code>, <code>$grey-lighter</code>, <code>$grey-darker</code> etc.): updating the derived variables will affect all elements and components directly.</p>
<h4 id="initialvariables">Initial variables</h4>
<ul>
<li><code>$green: hsl(141, 53%, 53%)</code></li>
<li><code>$cyan: hsl(204, 71%, 53%)</code></li>
<li><code>$red: hsl(348, 86%, 61%)</code></li>
</ul>
<h4 id="derivedvariables">Derived variables</h4>
<ul>
<li><p><code>$primary-invert: findColorInvert($primary)</code></p></li>
<li><p><code>$primary-light: findLightColor($primary)</code></p></li>
<li><p><code>$primary-dark: findDarkColor($primary)</code></p></li>
<li><p><code>$info-invert: findColorInvert($info)</code></p></li>
<li><p><code>$info-light: findLightColor($info)</code></p></li>
<li><p><code>$info-dark: findDarkColor($info)</code></p></li>
<li><p><code>$success-invert: findColorInvert($success)</code></p></li>
<li><p><code>$success-light: findLightColor($success)</code></p></li>
<li><p><code>$success-dark: findDarkColor($success)</code></p></li>
<li><p><code>$warning-invert: findColorInvert($warning)</code></p></li>
<li><p><code>$warning-light: findLightColor($warning)</code></p></li>
<li><p><code>$warning-dark: findDarkColor($warning)</code></p></li>
<li><p><code>$danger-invert: findColorInvert($danger)</code></p></li>
<li><p><code>$danger-light: findLightColor($danger)</code></p></li>
<li><p><code>$danger-dark: findDarkColor($danger)</code></p></li>
<li><p><code>$light-invert: findColorInvert($light)</code></p></li>
<li><p><code>$dark-invert: findColorInvert($dark)</code></p></li>
<li><p><code>$scheme-main: $white</code></p></li>
<li><p><code>$scheme-main-bis: $white-bis</code></p></li>
<li><p><code>$scheme-main-ter: $white-ter</code></p></li>
<li><p><code>$scheme-invert: $black</code></p></li>
<li><p><code>$scheme-invert-bis: $black-bis</code></p></li>
<li><p><code>$scheme-invert-ter: $black-ter</code></p></li>
</ul>
<h3 id="othervariables">Other variables</h3>
<ul>
<li><code>$control-height: 2.5em</code></li>
<li><code>$control-padding-vertical: calc(0.5em - #{$control-border-width})</code></li>
<li><code>$control-padding-horizontal: calc(0.75em - #{$control-border-width})</code></li>
<li><code>$media-border-color: rgba($border, 0.5)</code></li>
<li><code>$notification-code-background-color: $scheme-main</code></li>
<li><code>$panel-radius: $radius-large</code></li>
<li><code>$panel-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02)</code></li>
<li><code>$textarea-padding: $control-padding-horizontal</code></li>
<li><code>$textarea-max-height: 40em</code></li>
<li><code>$textarea-min-height: 8em</code></li>
</ul>
<h3 id="bugfixes">Bug fixes</h3>
<ul>
<li>Fix #2647 -&gt; Missing meta tags in snippet</li>
<li>Fix #2031, Fix #2483 -&gt; Invalid output when declaring a custom shade map</li>
<li>Fix #2060 -&gt; <code>height: auto</code> on HTML <code>audio</code> element breaks height of element</li>
<li>Fix #706 -&gt; Derive <code>-invert</code> variables using <code>findColorInvert()</code></li>
<li>#1608 Fix #1552 -&gt; <code>.container.is-fluid</code> margins</li>
</ul>
<h3 id="newfeatures">New features</h3>
<ul>
<li>#2563 <code>.image</code> has a new <code>.is-fullwidth</code> modifier</li>
</ul>
    </section>
</article>
