<footer>
    <div class="container">
        <span class="text-muted">&copy; {{ site.time | date: '%Y' }} <a href="http://saravanakumar.org">Saravanakumar.org</a></span>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/jquery.dataTables.min.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>
<script src="{{ "/assets/js/list.min.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>
<script src="{{ "/assets/js/script.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>