<header>
    <div class="jumbotron sa-header">
        <div class="container">
            <div class="text-xs-center">
                <h1 class="display-4">CSS Frameworks compare</h1>
                <p class="lead">
                    Collection of best and latest Responsive CSS Frameworks with comparison
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid sa-header">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="text-xs-center text-sm-left p-1 text">
                    <span>Last updated on: {{ site.time | date: '%B %d, %Y' }}</span>
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="http://www.saravanakumar.org/css-frameworks-compare/" data-counter="right"></script>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/saravanakumargn/css-frameworks-compare" data-icon="octicon-star" data-count-href="/saravanakumargn/css-frameworks-compare/stargazers" data-count-api="/repos/saravanakumargn/css-frameworks-compare#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star saravanakumargn/css-frameworks-compare on GitHub"></a>               
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="text-xs-center text-sm-right p-1">
                    <a href="/">Saravanakumar.org</a> | <a href="{{ "/contact.html" | relative_url }}">Contact</a>
                </div>
            </div>
        </div>
    </div>
</header>