<header>
    <div class="jumbotron sa-header">
        <div class="container">
            <div class="text-xs-center">
                <h1 class="display-4">CSS Frameworks compare</h1>
                <p class="lead">
                    Collection of best and latest Responsive CSS Frameworks with comparison
                </p>                
            </div>
        </div>
    </div>
    <div class="container-fluid sa-header">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="text-xs-center text-sm-left p-1 text">
        <small>Last updated on: {{ site.time | date: '%B %d, %Y' }}</small>
    </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="text-xs-center text-sm-right p-1">
        <a href="/">Saravanakumar.org</a> | <a href="{{ "/contact.html" | relative_url }}">Contact</a>
    </div>
    </div>
  </div>    
   </div> 
</header>
