<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% seo %}

  
  <link rel="stylesheet" href="{{ "/assets/font-awesome/css/font-awesome.min.css" | relative_url }}?{{site.time | date: '%s%N'}}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?{{site.time | date: '%s%N'}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script>
        window.pageTime = {{site.time | date: '%s%N'}};
    </script>
    <script src="{{ "/assets/js/angular-filter.min.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>
    <script src="{{ "/assets/js/page.js" | relative_url }}?{{site.time | date: '%s%N'}}"></script>
</head>
