<form>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group row">
                <label for="search" class="col-xs-4 col-form-label">Search</label>
                <div class="col-xs-8">
                    <input class="form-control" type="text" ng-model="searchName" placeholder="Search by name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Framework design</label>
                <div class="col-sm-8">
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.design" value="">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">All</span>
</label>                   
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.design" value="plain">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Plain</span>
</label>                   
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.design" value="material">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Material</span>
</label>                   
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.design" value="metro">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Metro</span>
</label>                   
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Startup templates</label>
                <div class="col-sm-8">
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.templates" value="">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">All</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.templates" value="true">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Yes</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.templates" value="false">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">No</span>
</label>                      
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Written</label>
                <div class="col-sm-8">
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.written" value="">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">All</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.written" value="sass">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Sass</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.written" value="less">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Less</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.written" value="js">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">JS</span>
</label>                      
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Feature type</label>
                <div class="col-sm-8">
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.feature" value="">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">All</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.feature" value="full">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Full</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.feature" value="prototype">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Prototype</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.feature" value="grid">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Grid</span>
</label>                      
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Project type</label>
                <div class="col-sm-8">
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.projType" value="">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">All</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.projType" value="Organization">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Organization</span>
</label>                      
<label class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" ng-model="search.projType" value="User">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">User</span>
</label>                      
                </div>
            </div>
            
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="reset()">Reset</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card text-xs-center">
                <div class="card-header">
                    Choose to compare frameworks
                </div>
                <div class="card-block text-xs-left">
                    <section class="sa-filter">
                        <label ng-repeat="role in filtered">
<label class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" checklist-model="css.compare" checklist-value="role" ng-disabled="!checked && isReachLimit">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">{# role.label #}</span>
</label>                          
                        </label>
                    </section>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" ng-href="compare.html?names={# compareParams #}" role="button" ng-class="{ 'disabled':!css.compare.length }">Compare</a>
                </div>
            </div>
        </div>
    </div>
</form>