<form>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group row">
                <label for="search" class="col-xs-4 col-form-label">Search</label>
                <div class="col-xs-8">
                    <input class="form-control" type="text" ng-model="searchName" placeholder="Search by name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Framework design</label>
                <div class="col-sm-8">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.design" value=""> All
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.design" value="plain"> Plain
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.design" value="material"> Material
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.design" value="metro"> Metro
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Startup templates</label>
                <div class="col-sm-8">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.templates" value=""> All
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.templates" value="true"> Yes
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.templates" value="false"> No
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Written</label>
                <div class="col-sm-8">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.written" value=""> All
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.written" value="sass"> Sass
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.written" value="less"> Less
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.written" value="js"> JS
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Feature type</label>
                <div class="col-sm-8">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.feature" value=""> All
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.feature" value="full"> Full
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.feature" value="prototype"> Prototype
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.feature" value="grid"> Grid
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4">Project type</label>
                <div class="col-sm-8">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.projType" value=""> All
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.projType" value="Organization"> Organization
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" ng-model="search.projType" value="User"> User
                    </label>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="reset()">Reset</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card text-xs-center">
                <div class="card-header">
                    Choose to compare frameworks
                </div>
                <div class="card-block text-xs-left">
                    <section class="sa-filter">
                        <label ng-repeat="role in filtered">
                            <input type="checkbox" checklist-model="css.compare" checklist-value="role" ng-disabled="!checked && isReachLimit"> {# role.label #}
                        </label>
                    </section>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" ng-href="compare.html?names={# compareParams #}" role="button" ng-class="{ 'disabled':!css.compare.length }">Compare</a>
                </div>
            </div>
        </div>
    </div>
</form>