<div class="table-responsive" ng-if="false">
<table class="table table-bordered table-inverse sa-table">
  <thead>
    <tr>
      <th><span>Name</span></th>
      <th><span>Written in</span></th>
      <th><span>Last release</span></th>
      <th><span>Github Star</span></th>
      <th><span>Size</span></th>
      <th><span>Last commit</span></th>
      <th><span>Open issues</span></th>
    </tr>
  </thead>
  <tbody>
 <tr>
  <td><a href="{{ "/bootstrap/"| relative_url }}" title="The most popular HTML, CSS, and JavaScript framework for developing responsive, mobile first projects on the web.">Bootstrap</a><span class="tag tag-pill tag-danger ml-1" data-toggle="tooltip" data-html="true" title="<em>Not ready for production</em>-<b>Prerelease vesion</b>">Pre</span></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2016 M07 25</td>
  <td>119,912</td>
  <td>108.95 kB</td>
  <td>2018 M01 4</td>
  <td>325</td>
  </tr>
 <tr>
  <td><a href="{{ "/pure-css/"| relative_url }}" title="A set of small, responsive CSS modules that you can use in every web project.">Pure CSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M06 5</td>
  <td>18,014</td>
  <td>432.00 bytes</td>
  <td>2017 M11 26</td>
  <td>41</td>
  </tr>
 <tr>
  <td><a href="{{ "/semantic-ui/"| relative_url }}" title="Semantic is a UI component framework based around useful principles from natural language.">Semantic UI</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M08 7</td>
  <td>38,826</td>
  <td>102.52 kB</td>
  <td>2017 M12 22</td>
  <td>1,337</td>
  </tr>
 <tr>
  <td><a href="{{ "/foundation/"| relative_url }}" title="The most advanced responsive front-end framework in the world. Quickly create prototypes and production code for sites that work on any kind of device.">Foundation</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M08 18</td>
  <td>26,853</td>
  <td>126.27 kB</td>
  <td>2018 M01 3</td>
  <td>667</td>
  </tr>
 <tr>
  <td><a href="{{ "/ink/"| relative_url }}" title="An HTML5/CSS3 framework used at SAPO for fast and efficient website design and prototyping">Ink</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M08 6</td>
  <td>1,915</td>
  <td>80.87 kB</td>
  <td>2017 M05 9</td>
  <td>11</td>
  </tr>
 <tr>
  <td><a href="{{ "/skeleton/"| relative_url }}" title="Skeleton: A Dead Simple, Responsive Boilerplate for Mobile-Friendly Development">Skeleton</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2014 M12 30</td>
  <td>15,092</td>
  <td>6.25 kB</td>
  <td>2014 M12 29</td>
  <td>119</td>
  </tr>
 <tr>
  <td><a href="{{ "/bulma/"| relative_url }}" title="Modern CSS framework based on Flexbox">Bulma</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M11 6</td>
  <td>23,211</td>
  <td>23.69 kB</td>
  <td>2017 M12 28</td>
  <td>289</td>
  </tr>
 <tr>
  <td><a href="{{ "/kube/"| relative_url }}" title="Kube CSS Framework">Kube</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M02 2</td>
  <td>1,236</td>
  <td>492.00 bytes</td>
  <td>2017 M06 13</td>
  <td>55</td>
  </tr>
 <tr>
  <td><a href="{{ "/uikit/"| relative_url }}" title="A lightweight and modular front-end framework for developing fast and powerful web interfaces">uikit</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M11 13</td>
  <td>11,360</td>
  <td>33.50 kB</td>
  <td>2018 M01 3</td>
  <td>280</td>
  </tr>
 <tr>
  <td><a href="{{ "/cascadeframework/"| relative_url }}" title="Cascade Framework">Cascade Framework</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>260</td>
  <td>7.45 kB</td>
  <td>2016 M04 19</td>
  <td>7</td>
  </tr>
 <tr>
  <td><a href="{{ "/material-design-lite/"| relative_url }}" title="Material Design Components in HTML/CSS/JS">Material Design Lite</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2016 M12 21</td>
  <td>29,300</td>
  <td>55.48 kB</td>
  <td>2017 M06 28</td>
  <td>295</td>
  </tr>
 <tr>
  <td><a href="{{ "/materialize/"| relative_url }}" title="Materialize, a CSS Framework based on Material Design">Materialize</a><span class="tag tag-pill tag-danger ml-1" data-toggle="tooltip" data-html="true" title="<em>Not ready for production</em>-<b>Prerelease vesion</b>">Pre</span></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M08 27</td>
  <td>30,758</td>
  <td>155.14 kB</td>
  <td>2018 M01 4</td>
  <td>380</td>
  </tr>
 <tr>
  <td><a href="{{ "/responsive/"| relative_url }}" title=":iphone: A super lightweight HTML, Sass, CSS, and JavaScript framework for building responsive websites">Responsive</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M03 29</td>
  <td>691</td>
  <td>34.45 kB</td>
  <td>2017 M12 31</td>
  <td>7</td>
  </tr>
 <tr>
  <td><a href="{{ "/metro-ui-css/"| relative_url }}" title="CSS styles for build Windows 8 Metro UI stylable interface">Metro UI CSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M01 2</td>
  <td>5,489</td>
  <td>88.40 kB</td>
  <td>2017 M08 5</td>
  <td>131</td>
  </tr>
 <tr>
  <td><a href="{{ "/avalanche/"| relative_url }}" title="Superclean, powerful, responsive, Sass-based, BEM-syntax CSS grid system">Avalanche</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M06 19</td>
  <td>593</td>
  <td>77.00 bytes</td>
  <td>2017 M06 19</td>
  <td>8</td>
  </tr>
 <tr>
  <td><a href="{{ "/awsmcss/"| relative_url }}" title="Simple CSS library for semantic HTML markup">awsm.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M01 15</td>
  <td>888</td>
  <td>949.00 bytes</td>
  <td>2017 M11 24</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/baseguide/"| relative_url }}" title="Lightweight and robust CSS framework for prototyping and production code.">Baseguide</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M11 20</td>
  <td>90</td>
  <td>863.00 bytes</td>
  <td>2018 M01 1</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/cardinalcss/"| relative_url }}" title="A modular, “mobile-first” CSS framework built with performance and scalability in mind.">Cardinal</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>688</td>
  <td>2.25 kB</td>
  <td>2016 M06 17</td>
  <td>2</td>
  </tr>
 <tr>
  <td><a href="{{ "/chopstick-boilerplate/"| relative_url }}" title="Chopstick boilerplate">Chopstick Boilerplate</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M09 24</td>
  <td>111</td>
  <td>1.96 kB</td>
  <td>2017 M06 27</td>
  <td>3</td>
  </tr>
 <tr>
  <td><a href="{{ "/jeet/"| relative_url }}" title="The most advanced, yet intuitive, grid system available for Sass or Stylus">Jeet</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M09 5</td>
  <td>3,066</td>
  <td>12.14 kB</td>
  <td>2017 M09 5</td>
  <td>10</td>
  </tr>
 <tr>
  <td><a href="{{ "/modestgrid/"| relative_url }}" title="Modest Grid is an easy to customise grid framework that allows for the rapid development of responsive websites.">Modest Grid</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>30</td>
  <td>328.00 bytes</td>
  <td>2017 M04 11</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/motus/"| relative_url }}" title="Lightweight Sass/CSS framework">Motus</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2016 M05 11</td>
  <td>3</td>
  <td>49.00 bytes</td>
  <td>2017 M10 31</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/mi-grid/"| relative_url }}" title="MI GRID SYSTEM is one the most supportable framework for those who are passionate and professional about Web Designing can do a more efficient creativity using this framework.">MI GRID</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td></td>
  <td>177.00 bytes</td>
  <td>2016 M11 23</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/material-framework/"| relative_url }}" title="An easy to use material design based framework.">Material framework</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M05 26</td>
  <td>360</td>
  <td>835.00 bytes</td>
  <td>2017 M11 30</td>
  <td>37</td>
  </tr>
 <tr>
  <td><a href="{{ "/siimple/"| relative_url }}" title="Minimal and responsive CSS Framework for flat and clean designs">Siimple</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M12 2</td>
  <td>255</td>
  <td>1.04 kB</td>
  <td>2017 M12 30</td>
  <td>3</td>
  </tr>
 <tr>
  <td><a href="{{ "/turret/"| relative_url }}" title="Turret is a styles and browser behaviour normalisation framework for rapid development of responsive and accessible websites.">Turret</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M05 30</td>
  <td>450</td>
  <td>2.57 kB</td>
  <td>2017 M09 4</td>
  <td>4</td>
  </tr>
 <tr>
  <td><a href="{{ "/concisecss/"| relative_url }}" title="A CSS framework that&#x27;s lightweight and easy-to-use. Give up the bloat. Stop tripping over your classes. Be Concise.">Concise CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2016 M12 30</td>
  <td>925</td>
  <td>678.00 bytes</td>
  <td>2017 M08 28</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/minicss/"| relative_url }}" title="A minimal, responsive, style-agnostic CSS framework!">mini.css</a><span class="tag tag-pill tag-danger ml-1" data-toggle="tooltip" data-html="true" title="<em>Not ready for production</em>-<b>Prerelease vesion</b>">Pre</span></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M10 23</td>
  <td>2,116</td>
  <td>8.50 kB</td>
  <td>2017 M11 20</td>
  <td>5</td>
  </tr>
 <tr>
  <td><a href="{{ "/fusioncss/"| relative_url }}" title="Simple Responsive CSS Framework">fusionCSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td>4</td>
  <td>2.68 kB</td>
  <td>2017 M08 12</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/spectre/"| relative_url }}" title="Spectre.css - a Lightweight, Responsive and Modern CSS Framework">Spectre.css</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M12 7</td>
  <td>5,462</td>
  <td>5.26 kB</td>
  <td>2017 M12 7</td>
  <td>43</td>
  </tr>
 <tr>
  <td><a href="{{ "/picnic/"| relative_url }}" title=":handbag: A beautiful CSS library to kickstart your projects">Picnic CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>2,499</td>
  <td>2.57 kB</td>
  <td>2017 M11 19</td>
  <td>19</td>
  </tr>
 <tr>
  <td><a href="{{ "/furtive/"| relative_url }}" title="A forward-thinking, lightweight, css microframework">Furtive</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2015 M01 8</td>
  <td>572</td>
  <td>7.53 kB</td>
  <td>2017 M08 21</td>
  <td>8</td>
  </tr>
 <tr>
  <td><a href="{{ "/base/"| relative_url }}" title="Base - A Rock Solid, Responsive CSS Framework built to work on all devices big, small and in-between.">Base</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M08 18</td>
  <td>1,018</td>
  <td>12.70 kB</td>
  <td>2017 M08 18</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/muicss/"| relative_url }}" title="Lightweight CSS framework">MUI CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td>3,754</td>
  <td>13.39 kB</td>
  <td>2017 M12 17</td>
  <td>46</td>
  </tr>
 <tr>
  <td><a href="{{ "/fabric/"| relative_url }}" title="The front-end CSS framework for building experiences for Office and Office 365.">Office UI Fabric</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2018 M01 3</td>
  <td>2,819</td>
  <td>10.54 kB</td>
  <td>2018 M01 3</td>
  <td>14</td>
  </tr>
 <tr>
  <td><a href="{{ "/angular-material/"| relative_url }}" title="Material design for AngularJS">AngularJS Material</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2014 M12 2</td>
  <td>15,965</td>
  <td>45.37 kB</td>
  <td>2017 M12 29</td>
  <td>843</td>
  </tr>
 <tr>
  <td><a href="{{ "/angular-material2/"| relative_url }}" title="Material Design components for Angular">Angular 2 Material</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2018 M01 3</td>
  <td>12,589</td>
  <td>10.71 kB</td>
  <td>2018 M01 4</td>
  <td>958</td>
  </tr>
 <tr>
  <td><a href="{{ "/material-ui/"| relative_url }}" title="React components that implement Google&#x27;s Material Design.">Material-UI</a><span class="tag tag-pill tag-danger ml-1" data-toggle="tooltip" data-html="true" title="<em>Not ready for production</em>-<b>Prerelease vesion</b>">Pre</span></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M12 4</td>
  <td>31,842</td>
  <td>33.72 kB</td>
  <td>2018 M01 3</td>
  <td>150</td>
  </tr>
 <tr>
  <td><a href="{{ "/amazium/"| relative_url }}" title="The responsive CSS web framework">Amazium</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M06 2</td>
  <td>162</td>
  <td>2.92 kB</td>
  <td>2017 M06 12</td>
  <td>5</td>
  </tr>
 <tr>
  <td><a href="{{ "/animatecss/"| relative_url }}" title="🍿 A cross-browser library of CSS animations. As easy to use as an easy thing.">animate.css</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2016 M06 6</td>
  <td>48,041</td>
  <td>564.00 bytes</td>
  <td>2018 M01 1</td>
  <td>26</td>
  </tr>
 <tr>
  <td><a href="{{ "/bouncejs/"| relative_url }}" title="Create beautiful CSS3 powered animations in no time.">Bounce.js</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M02 16</td>
  <td>5,385</td>
  <td>2.30 kB</td>
  <td>2015 M02 16</td>
  <td>13</td>
  </tr>
 <tr>
  <td><a href="{{ "/magic/"| relative_url }}" title="CSS3 Animations with special effects">Magic</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2015 M01 15</td>
  <td>5,229</td>
  <td>202.00 bytes</td>
  <td>2016 M09 28</td>
  <td>5</td>
  </tr>
 <tr>
  <td><a href="{{ "/csshake/"| relative_url }}" title="CSS classes to move your DOM!">Csshake</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>3,440</td>
  <td>268.00 bytes</td>
  <td>2018 M01 3</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/Hover/"| relative_url }}" title="A collection of CSS3 powered hover effects to be applied to links, buttons, logos, SVG, featured images and so on. Easily apply to your own elements, modify or just use for inspiration. Available in CSS, Sass, and LESS.">Hover.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M03 22</td>
  <td>18,282</td>
  <td>882.00 bytes</td>
  <td>2017 M08 19</td>
  <td>24</td>
  </tr>
  </tbody>
</table>
</div>