<div class="table-responsive" ng-if="false">
<table class="table table-bordered table-inverse sa-table">
  <thead>
    <tr>
      <th><span>Name</span></th>
      <th><span>Written in</span></th>
      <th><span>Last release</span></th>
      <th><span>Github Star</span></th>
      <th><span>Size</span></th>
      <th><span>Last commit</span></th>
      <th><span>Open issues</span></th>
    </tr>
  </thead>
  <tbody>
 <tr>
  <td><a href="{{ "/bootstrap/"| relative_url }}" title="The most popular HTML, CSS, and JavaScript framework for developing responsive, mobile first projects on the web.">Bootstrap</a><span class="tag tag-pill tag-danger ml-1" data-toggle="tooltip" data-html="true" title="<em>Not ready for production</em>-<b>Prerelease vesion</b>">Pre</span></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2016 M07 25</td>
  <td>114,491</td>
  <td>100.65 kB</td>
  <td>2017 M08 26</td>
  <td>340</td>
  </tr>
 <tr>
  <td><a href="{{ "/pure-css/"| relative_url }}" title="A set of small, responsive CSS modules that you can use in every web project.">Pure CSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M06 5</td>
  <td>17,397</td>
  <td>428.00 bytes</td>
  <td>2017 M06 5</td>
  <td>50</td>
  </tr>
 <tr>
  <td><a href="{{ "/semantic-ui/"| relative_url }}" title="Semantic is a UI component framework based around useful principles from natural language.">Semantic UI</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M08 7</td>
  <td>36,807</td>
  <td>102.37 kB</td>
  <td>2017 M08 7</td>
  <td>1,128</td>
  </tr>
 <tr>
  <td><a href="{{ "/foundation/"| relative_url }}" title="The most advanced responsive front-end framework in the world. Quickly create prototypes and production code for sites that work on any kind of device.">Foundation</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M08 18</td>
  <td>26,139</td>
  <td>125.67 kB</td>
  <td>2017 M08 21</td>
  <td>599</td>
  </tr>
 <tr>
  <td><a href="{{ "/ink/"| relative_url }}" title="An HTML5/CSS3 framework used at SAPO for fast and efficient website design and prototyping">Ink</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M08 6</td>
  <td>1,905</td>
  <td>80.87 kB</td>
  <td>2017 M05 9</td>
  <td>11</td>
  </tr>
 <tr>
  <td><a href="{{ "/skeleton/"| relative_url }}" title="Skeleton: A Dead Simple, Responsive Boilerplate for Mobile-Friendly Development">Skeleton</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2014 M12 30</td>
  <td>14,570</td>
  <td>6.25 kB</td>
  <td>2014 M12 29</td>
  <td>114</td>
  </tr>
 <tr>
  <td><a href="{{ "/bulma/"| relative_url }}" title="Modern CSS framework based on Flexbox">Bulma</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>18,647</td>
  <td>13.78 kB</td>
  <td>2017 M08 26</td>
  <td>180</td>
  </tr>
 <tr>
  <td><a href="{{ "/kube/"| relative_url }}" title="Kube CSS Framework">Kube</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M02 2</td>
  <td>1,154</td>
  <td>492.00 bytes</td>
  <td>2017 M06 13</td>
  <td>47</td>
  </tr>
 <tr>
  <td><a href="{{ "/uikit/"| relative_url }}" title="A lightweight and modular front-end framework for developing fast and powerful web interfaces">uikit</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M08 18</td>
  <td>10,363</td>
  <td>31.86 kB</td>
  <td>2017 M08 22</td>
  <td>267</td>
  </tr>
 <tr>
  <td><a href="{{ "/cascadeframework/"| relative_url }}" title="Cascade Framework">Cascade Framework</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>251</td>
  <td>7.45 kB</td>
  <td>2016 M04 19</td>
  <td>7</td>
  </tr>
 <tr>
  <td><a href="{{ "/material-design-lite/"| relative_url }}" title="Material Design Components in HTML/CSS/JS">Material Design Lite</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2016 M12 21</td>
  <td>28,366</td>
  <td>55.48 kB</td>
  <td>2017 M06 28</td>
  <td>283</td>
  </tr>
 <tr>
  <td><a href="{{ "/materialize/"| relative_url }}" title="Materialize, a CSS Framework based on Material Design">Materialize</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M07 22</td>
  <td>28,440</td>
  <td>150.67 kB</td>
  <td>2017 M08 26</td>
  <td>382</td>
  </tr>
 <tr>
  <td><a href="{{ "/responsive/"| relative_url }}" title=":iphone: A super lightweight HTML, Sass, CSS, and JavaScript framework for building responsive websites">Responsive</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M03 29</td>
  <td>666</td>
  <td>33.85 kB</td>
  <td>2017 M05 5</td>
  <td>7</td>
  </tr>
 <tr>
  <td><a href="{{ "/metro-ui-css/"| relative_url }}" title="CSS styles for build Windows 8 Metro UI stylable interface">Metro UI CSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M01 2</td>
  <td>5,392</td>
  <td>88.31 kB</td>
  <td>2017 M08 5</td>
  <td>117</td>
  </tr>
 <tr>
  <td><a href="{{ "/avalanche/"| relative_url }}" title="Superclean, powerful, responsive, Sass-based, BEM-syntax CSS grid system">Avalanche</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M06 19</td>
  <td>570</td>
  <td>77.00 bytes</td>
  <td>2017 M06 19</td>
  <td>8</td>
  </tr>
 <tr>
  <td><a href="{{ "/awsmcss/"| relative_url }}" title="Simple CSS library for semantic HTML markup">awsm.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M01 15</td>
  <td>867</td>
  <td>946.00 bytes</td>
  <td>2017 M08 22</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/baseguide/"| relative_url }}" title="Lightweight and robust CSS framework for prototyping and production code.">Baseguide</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M08 3</td>
  <td>80</td>
  <td>695.00 bytes</td>
  <td>2017 M08 3</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/cardinalcss/"| relative_url }}" title="A modular, “mobile-first” CSS framework built with performance and scalability in mind.">Cardinal</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>686</td>
  <td>2.25 kB</td>
  <td>2016 M06 17</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/chopstick-boilerplate/"| relative_url }}" title="Chopstick boilerplate">Chopstick Boilerplate</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M09 24</td>
  <td>108</td>
  <td>1.96 kB</td>
  <td>2017 M06 27</td>
  <td>3</td>
  </tr>
 <tr>
  <td><a href="{{ "/jeet/"| relative_url }}" title="The most advanced, yet intuitive, grid system available for Sass or Stylus">Jeet</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2016 M11 22</td>
  <td>3,028</td>
  <td>12.13 kB</td>
  <td>2017 M03 17</td>
  <td>9</td>
  </tr>
 <tr>
  <td><a href="{{ "/modestgrid/"| relative_url }}" title="Modest Grid is an easy to customise grid framework that allows for the rapid development of responsive websites.">Modest Grid</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>28</td>
  <td>328.00 bytes</td>
  <td>2017 M04 11</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/motus/"| relative_url }}" title="Sass/css lightweight framework, built for speed and perfomance!">Motus</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2016 M05 11</td>
  <td>2</td>
  <td>48.00 bytes</td>
  <td>2017 M06 4</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/mi-grid/"| relative_url }}" title="MI GRID SYSTEM is one the most supportable framework for those who are passionate and professional about Web Designing can do a more efficient creativity using this framework.">MI GRID</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td></td>
  <td>177.00 bytes</td>
  <td>2016 M11 23</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/material-framework/"| relative_url }}" title="An easy to use material design based framework.">Material framework</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M05 26</td>
  <td>343</td>
  <td>788.00 bytes</td>
  <td>2017 M04 25</td>
  <td>38</td>
  </tr>
 <tr>
  <td><a href="{{ "/siimple/"| relative_url }}" title="Minimal CSS Framework for flat and clean designs.">Siimple</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M03 5</td>
  <td>212</td>
  <td>221.00 bytes</td>
  <td>2017 M08 25</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/turret/"| relative_url }}" title="Turret is a styles and browser behaviour normalisation framework for rapid development of responsive and accessible websites.">Turret</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M05 30</td>
  <td>334</td>
  <td>2.53 kB</td>
  <td>2017 M07 13</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/concisecss/"| relative_url }}" title="A CSS framework that&#x27;s lightweight and easy-to-use. Give up the bloat. Stop tripping over your classes. Be Concise.">Concise CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2016 M12 30</td>
  <td>902</td>
  <td>677.00 bytes</td>
  <td>2017 M07 7</td>
  <td>8</td>
  </tr>
 <tr>
  <td><a href="{{ "/minicss/"| relative_url }}" title="A minimal, responsive, style-agnostic CSS framework!">mini.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M08 16</td>
  <td>1,861</td>
  <td>4.83 kB</td>
  <td>2017 M08 16</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/fusioncss/"| relative_url }}" title="Simple Responsive CSS Framework">fusionCSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td>4</td>
  <td>2.65 kB</td>
  <td>2017 M08 12</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/spectre/"| relative_url }}" title="Spectre.css - A lightweight, responsive and modern CSS framework.">Spectre.css</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M08 19</td>
  <td>4,707</td>
  <td>4.99 kB</td>
  <td>2017 M08 19</td>
  <td>36</td>
  </tr>
 <tr>
  <td><a href="{{ "/picnic/"| relative_url }}" title=":handbag: A beautiful CSS library to kickstart your projects">Picnic CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>2,382</td>
  <td>2.56 kB</td>
  <td>2017 M07 11</td>
  <td>23</td>
  </tr>
 <tr>
  <td><a href="{{ "/furtive/"| relative_url }}" title="A forward-thinking, lightweight, css microframework">Furtive</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2015 M01 8</td>
  <td>559</td>
  <td>7.53 kB</td>
  <td>2017 M08 21</td>
  <td>7</td>
  </tr>
 <tr>
  <td><a href="{{ "/base/"| relative_url }}" title="Base - A Rock Solid, Responsive CSS Framework built to work on all devices big, small and in-between.">Base</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M08 18</td>
  <td>978</td>
  <td>12.71 kB</td>
  <td>2017 M08 18</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/muicss/"| relative_url }}" title="Lightweight CSS framework">MUI CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td>3,545</td>
  <td>9.72 kB</td>
  <td>2017 M08 21</td>
  <td>44</td>
  </tr>
 <tr>
  <td><a href="{{ "/fabric/"| relative_url }}" title="The front-end framework for building experiences for Office and Office 365.">Office UI Fabric</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M07 28</td>
  <td>2,704</td>
  <td>9.73 kB</td>
  <td>2017 M08 18</td>
  <td>24</td>
  </tr>
 <tr>
  <td><a href="{{ "/angular-material/"| relative_url }}" title="Material design for AngularJS">AngularJS Material</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2014 M12 2</td>
  <td>15,741</td>
  <td>45.13 kB</td>
  <td>2017 M08 4</td>
  <td>777</td>
  </tr>
 <tr>
  <td><a href="{{ "/angular-material2/"| relative_url }}" title="Material Design components for Angular">Angular 2 Material</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M07 6</td>
  <td>10,496</td>
  <td>8.07 kB</td>
  <td>2017 M08 24</td>
  <td>685</td>
  </tr>
 <tr>
  <td><a href="{{ "/material-ui/"| relative_url }}" title="React Components that Implement Google&#x27;s Material Design.">Material-UI</a><span class="tag tag-pill tag-danger ml-1" data-toggle="tooltip" data-html="true" title="<em>Not ready for production</em>-<b>Prerelease vesion</b>">Pre</span></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2017 M08 15</td>
  <td>28,290</td>
  <td>27.26 kB</td>
  <td>2017 M08 26</td>
  <td>229</td>
  </tr>
 <tr>
  <td><a href="{{ "/amazium/"| relative_url }}" title="The responsive CSS web framework">Amazium</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M06 2</td>
  <td>156</td>
  <td>2.92 kB</td>
  <td>2017 M06 12</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/animatecss/"| relative_url }}" title="🍿 A cross-browser library of CSS animations. As easy to use as an easy thing.">animate.css</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2016 M06 6</td>
  <td>44,456</td>
  <td>548.00 bytes</td>
  <td>2017 M07 30</td>
  <td>39</td>
  </tr>
 <tr>
  <td><a href="{{ "/bouncejs/"| relative_url }}" title="Create beautiful CSS3 powered animations in no time.">Bounce.js</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>2015 M02 16</td>
  <td>5,183</td>
  <td>2.30 kB</td>
  <td>2015 M02 16</td>
  <td>13</td>
  </tr>
 <tr>
  <td><a href="{{ "/magic/"| relative_url }}" title="CSS3 Animations with special effects">Magic</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2015 M01 15</td>
  <td>5,056</td>
  <td>202.00 bytes</td>
  <td>2016 M09 28</td>
  <td>2</td>
  </tr>
 <tr>
  <td><a href="{{ "/csshake/"| relative_url }}" title="CSS classes to move your DOM!">Csshake</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>3,328</td>
  <td>402.00 bytes</td>
  <td>2017 M05 30</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/Hover/"| relative_url }}" title="A collection of CSS3 powered hover effects to be applied to links, buttons, logos, SVG, featured images and so on. Easily apply to your own elements, modify or just use for inspiration. Available in CSS, Sass, and LESS.">Hover.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>2017 M03 22</td>
  <td>17,303</td>
  <td>882.00 bytes</td>
  <td>2017 M08 19</td>
  <td>23</td>
  </tr>
  </tbody>
</table>
</div>