<div class="table-responsive" ng-if="false">
<table class="table table-bordered table-inverse sa-table">
  <thead>
    <tr>
      <th><span>Name</span></th>
      <th><span>Written in</span></th>
      <th><span>Last release</span></th>
      <th><span>Github Star</span></th>
      <th><span>Size</span></th>
      <th><span>Last commit</span></th>
      <th><span>Open issues</span></th>
    </tr>
  </thead>
  <tbody>
 <tr>
  <td><a href="{{ "/bootstrap/"| relative_url }}" title="The most popular HTML, CSS, and JavaScript framework for developing responsive, mobile first projects on the web.">Bootstrap</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Nov 28, 2019</td>
  <td>138,250</td>
  <td>148.76 kB</td>
  <td>Jan 23, 2020</td>
  <td>428</td>
  </tr>
 <tr>
  <td><a href="{{ "/pure-css/"| relative_url }}" title="A set of small, responsive CSS modules that you can use in every web project.">Pure CSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Jul 10, 2019</td>
  <td>20,509</td>
  <td>455.00 bytes</td>
  <td>Jul 15, 2019</td>
  <td>19</td>
  </tr>
 <tr>
  <td><a href="{{ "/semantic-ui/"| relative_url }}" title="Semantic is a UI component framework based around useful principles from natural language.">Semantic UI</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Oct 14, 2018</td>
  <td>47,246</td>
  <td>109.60 kB</td>
  <td>Oct 22, 2018</td>
  <td>974</td>
  </tr>
 <tr>
  <td><a href="{{ "/foundation/"| relative_url }}" title="The most advanced responsive front-end framework in the world. Quickly create prototypes and production code for sites that work on any kind of device.">Foundation</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Dec 14, 2019</td>
  <td>28,464</td>
  <td>114.45 kB</td>
  <td>Jan 14, 2020</td>
  <td>289</td>
  </tr>
 <tr>
  <td><a href="{{ "/ink/"| relative_url }}" title="An HTML5/CSS3 framework used at SAPO for fast and efficient website design and prototyping">Ink</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Aug 6, 2015</td>
  <td>1,926</td>
  <td>80.87 kB</td>
  <td>May 9, 2017</td>
  <td>12</td>
  </tr>
 <tr>
  <td><a href="{{ "/skeleton/"| relative_url }}" title="Skeleton: A Dead Simple, Responsive Boilerplate for Mobile-Friendly Development">Skeleton</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Dec 30, 2014</td>
  <td>17,238</td>
  <td>6.25 kB</td>
  <td>Dec 29, 2014</td>
  <td>139</td>
  </tr>
 <tr>
  <td><a href="{{ "/bulma/"| relative_url }}" title="Modern CSS framework based on Flexbox">Bulma</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Oct 18, 2019</td>
  <td>38,233</td>
  <td>80.93 kB</td>
  <td>Jan 22, 2020</td>
  <td>293</td>
  </tr>
 <tr>
  <td><a href="{{ "/kube/"| relative_url }}" title="Kube CSS Framework">Kube</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Feb 2, 2017</td>
  <td>1,301</td>
  <td>449.00 bytes</td>
  <td>Jul 25, 2018</td>
  <td>61</td>
  </tr>
 <tr>
  <td><a href="{{ "/uikit/"| relative_url }}" title="A lightweight and modular front-end framework for developing fast and powerful web interfaces">uikit</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Jan 23, 2020</td>
  <td>15,317</td>
  <td>44.89 kB</td>
  <td>Jan 23, 2020</td>
  <td>643</td>
  </tr>
 <tr>
  <td><a href="{{ "/cascadeframework/"| relative_url }}" title="Cascade Framework">Cascade Framework</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>268</td>
  <td>7.45 kB</td>
  <td>Apr 19, 2016</td>
  <td>7</td>
  </tr>
 <tr>
  <td><a href="{{ "/material-design-lite/"| relative_url }}" title="Material Design Components in HTML/CSS/JS">Material Design Lite</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Dec 21, 2016</td>
  <td>31,536</td>
  <td>55.48 kB</td>
  <td>Jun 28, 2017</td>
  <td>365</td>
  </tr>
 <tr>
  <td><a href="{{ "/materialize/"| relative_url }}" title="Materialize, a CSS Framework based on Material Design">Materialize</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Sep 10, 2018</td>
  <td>37,038</td>
  <td>161.77 kB</td>
  <td>Jan 10, 2020</td>
  <td>733</td>
  </tr>
 <tr>
  <td><a href="{{ "/responsive/"| relative_url }}" title=":iphone: A super lightweight HTML, Sass, CSS, and JavaScript framework for building responsive websites">Responsive</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Mar 29, 2017</td>
  <td>728</td>
  <td>34.80 kB</td>
  <td>Nov 26, 2019</td>
  <td>8</td>
  </tr>
 <tr>
  <td><a href="{{ "/metro-ui-css/"| relative_url }}" title="Build responsive, mobile-first projects on the web with the first front-end component library in Metro Style and not only.">Metro UI CSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Jan 14, 2020</td>
  <td>6,440</td>
  <td>147.39 kB</td>
  <td>Jan 14, 2020</td>
  <td>12</td>
  </tr>
 <tr>
  <td><a href="{{ "/avalanche/"| relative_url }}" title="Superclean, powerful, responsive, Sass-based, BEM-syntax CSS grid system">Avalanche</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Jun 19, 2017</td>
  <td>627</td>
  <td>83.00 bytes</td>
  <td>Sep 11, 2019</td>
  <td>6</td>
  </tr>
 <tr>
  <td><a href="{{ "/awsmcss/"| relative_url }}" title="Simple CSS library for semantic HTML markup">awsm.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Jan 25, 2019</td>
  <td>1,102</td>
  <td>1.33 kB</td>
  <td>Sep 19, 2019</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/baseguide/"| relative_url }}" title="Lightweight and robust CSS framework for prototyping and production code.">Baseguide</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Oct 18, 2019</td>
  <td>119</td>
  <td>2.64 kB</td>
  <td>Dec 15, 2019</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/cardinalcss/"| relative_url }}" title="A modular, “mobile-first” CSS framework built with performance and scalability in mind.">Cardinal</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>702</td>
  <td>1.68 kB</td>
  <td>May 21, 2019</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/chopstick-boilerplate/"| relative_url }}" title="Chopstick boilerplate">Chopstick Boilerplate</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Sep 24, 2015</td>
  <td>111</td>
  <td>1.96 kB</td>
  <td>Jun 27, 2017</td>
  <td>6</td>
  </tr>
 <tr>
  <td><a href="{{ "/jeet/"| relative_url }}" title="The most advanced, yet intuitive, grid system available for Sass or Stylus">Jeet</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Sep 5, 2017</td>
  <td>3,063</td>
  <td>12.14 kB</td>
  <td>Sep 5, 2017</td>
  <td>12</td>
  </tr>
 <tr>
  <td><a href="{{ "/modestgrid/"| relative_url }}" title="Modest Grid is an easy to customise grid framework that allows for the rapid development of responsive websites.">Modest Grid</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>30</td>
  <td>328.00 bytes</td>
  <td>Apr 24, 2019</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/motus/"| relative_url }}" title="Sass Framework">Motus</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Jan 24, 2020</td>
  <td>5</td>
  <td>305.00 bytes</td>
  <td>Jan 24, 2020</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/mi-grid/"| relative_url }}" title="MI GRID SYSTEM is one the most supportable framework for those who are passionate and professional about Web Designing can do a more efficient creativity using this framework.">MI GRID</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td></td>
  <td>177.00 bytes</td>
  <td>Nov 23, 2016</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/material-framework/"| relative_url }}" title="An easy to use material design based framework.">Material framework</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>May 26, 2015</td>
  <td>380</td>
  <td>862.00 bytes</td>
  <td>Dec 8, 2019</td>
  <td>36</td>
  </tr>
 <tr>
  <td><a href="{{ "/siimple/"| relative_url }}" title="A collection of toolkits for building a better web">Siimple</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Apr 30, 2019</td>
  <td>466</td>
  <td>4.04 kB</td>
  <td>Jan 17, 2020</td>
  <td>6</td>
  </tr>
 <tr>
  <td><a href="{{ "/turret/"| relative_url }}" title="Turret is a styles and browser behaviour normalisation framework for rapid development of responsive and accessible websites.">Turret</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Aug 19, 2019</td>
  <td>648</td>
  <td>3.31 kB</td>
  <td>Nov 1, 2019</td>
  <td>4</td>
  </tr>
 <tr>
  <td><a href="{{ "/concisecss/"| relative_url }}" title="A CSS framework that&#x27;s lightweight and easy-to-use. Give up the bloat. Stop tripping over your classes. Be Concise.">Concise CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Dec 30, 2016</td>
  <td>936</td>
  <td>681.00 bytes</td>
  <td>Oct 16, 2019</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/minicss/"| relative_url }}" title="A minimal, responsive, style-agnostic CSS framework!">mini.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Oct 27, 2018</td>
  <td>2,801</td>
  <td>11.84 kB</td>
  <td>Oct 23, 2019</td>
  <td>9</td>
  </tr>
 <tr>
  <td><a href="{{ "/fusioncss/"| relative_url }}" title="Simple Responsive CSS Framework">fusionCSS</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td>4</td>
  <td>3.07 kB</td>
  <td>Jun 15, 2019</td>
  <td>2</td>
  </tr>
 <tr>
  <td><a href="{{ "/spectre/"| relative_url }}" title="Spectre.css - A Lightweight, Responsive and Modern CSS Framework">Spectre.css</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Dec 23, 2018</td>
  <td>9,894</td>
  <td>6.20 kB</td>
  <td>May 1, 2019</td>
  <td>163</td>
  </tr>
 <tr>
  <td><a href="{{ "/picnic/"| relative_url }}" title=":handbag: A beautiful CSS library to kickstart your projects">Picnic CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>2,994</td>
  <td>2.66 kB</td>
  <td>Jan 13, 2020</td>
  <td>16</td>
  </tr>
 <tr>
  <td><a href="{{ "/furtive/"| relative_url }}" title="A forward-thinking, lightweight, css microframework">Furtive</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Jan 8, 2015</td>
  <td>622</td>
  <td>7.53 kB</td>
  <td>Apr 7, 2018</td>
  <td>9</td>
  </tr>
 <tr>
  <td><a href="{{ "/base/"| relative_url }}" title="Base - A Rock Solid, Responsive CSS Framework built to work on all devices big, small and in-between.">Base</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Dec 11, 2018</td>
  <td>1,138</td>
  <td>19.00 kB</td>
  <td>Dec 11, 2018</td>
  <td>1</td>
  </tr>
 <tr>
  <td><a href="{{ "/muicss/"| relative_url }}" title="Lightweight CSS framework">MUI CSS</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td></td>
  <td>4,292</td>
  <td>16.50 kB</td>
  <td>Jan 21, 2020</td>
  <td>69</td>
  </tr>
 <tr>
  <td><a href="{{ "/fabric/"| relative_url }}" title="The front-end CSS framework for building experiences for Office and Office 365.">Office UI Fabric</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Oct 17, 2019</td>
  <td>3,345</td>
  <td>10.70 kB</td>
  <td>Oct 17, 2019</td>
  <td>48</td>
  </tr>
 <tr>
  <td><a href="{{ "/angular-material/"| relative_url }}" title="Material design for AngularJS">AngularJS Material</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Dec 2, 2014</td>
  <td>16,551</td>
  <td>47.38 kB</td>
  <td>Jan 16, 2020</td>
  <td>534</td>
  </tr>
 <tr>
  <td><a href="{{ "/angular-material2/"| relative_url }}" title="Component infrastructure and Material Design components for Angular">Angular 2 Material</a><span class="tag tag-pill tag-danger ml-1" data-toggle="tooltip" data-html="true" title="<em>Not ready for production</em>-<b>Prerelease vesion</b>">Pre</span></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Oct 9, 2019</td>
  <td>19,290</td>
  <td>30.53 kB</td>
  <td>Jan 24, 2020</td>
  <td>2,286</td>
  </tr>
 <tr>
  <td><a href="{{ "/material-ui/"| relative_url }}" title="React components for faster and easier web development. Build your own design system, or start with Material Design.">Material-UI</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Jan 23, 2020</td>
  <td>53,901</td>
  <td>98.87 kB</td>
  <td>Jan 23, 2020</td>
  <td>320</td>
  </tr>
 <tr>
  <td><a href="{{ "/amazium/"| relative_url }}" title="The responsive CSS web framework">Amazium</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Jun 2, 2017</td>
  <td>165</td>
  <td>2.92 kB</td>
  <td>Jun 12, 2017</td>
  <td>6</td>
  </tr>
 <tr>
  <td><a href="{{ "/animatecss/"| relative_url }}" title="🍿 A cross-browser library of CSS animations. As easy to use as an easy thing.">animate.css</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Jun 5, 2019</td>
  <td>64,419</td>
  <td>985.00 bytes</td>
  <td>Dec 7, 2019</td>
  <td>33</td>
  </tr>
 <tr>
  <td><a href="{{ "/bouncejs/"| relative_url }}" title="Create beautiful CSS3 powered animations in no time.">Bounce.js</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-success">JS</span>
  </td>
  <td>Feb 16, 2015</td>
  <td>6,030</td>
  <td>2.30 kB</td>
  <td>Feb 16, 2015</td>
  <td>12</td>
  </tr>
 <tr>
  <td><a href="{{ "/magic/"| relative_url }}" title="CSS3 Animations with special effects">Magic</a></td>
  <td>
<span class="tag tag-pill tag-default">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Jan 15, 2015</td>
  <td>6,311</td>
  <td>525.00 bytes</td>
  <td>Oct 29, 2019</td>
  <td></td>
  </tr>
 <tr>
  <td><a href="{{ "/csshake/"| relative_url }}" title="CSS classes to move your DOM!">Csshake</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-default">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td></td>
  <td>4,125</td>
  <td>370.00 bytes</td>
  <td>May 29, 2019</td>
  <td>3</td>
  </tr>
 <tr>
  <td><a href="{{ "/Hover/"| relative_url }}" title="A collection of CSS3 powered hover effects to be applied to links, buttons, logos, SVG, featured images and so on. Easily apply to your own elements, modify or just use for inspiration. Available in CSS, Sass, and LESS.">Hover.css</a></td>
  <td>
<span class="tag tag-pill tag-success">Sass</span>
<span class="tag tag-pill tag-success">Less</span>
<span class="tag tag-pill tag-default">JS</span>
  </td>
  <td>Apr 16, 2018</td>
  <td>22,311</td>
  <td>962.00 bytes</td>
  <td>Jun 11, 2018</td>
  <td>29</td>
  </tr>
  </tbody>
</table>
</div>