.#{$site-class-prefix}ads {
    padding: $spacer 0;
}

.published_at {
    width: 160px;
}

.prerelease {
    width: 140px;
}

.yes {
    color: $brand-success;
}

.no {
    color: $gray-light;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder-disabled:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
    color: $gray-light;
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.all-links {
    background-color: $gray-light;
    padding: $spacer * 2;
    .items {
        padding: $spacer/2;
            #{$a-tags} {
      color: $header-color;
      text-decoration: none;
    }
    #{$a-tags-hover} {
      color: $header-color;
    }
    }
}

.#{$site-class-prefix}loading {
    padding: $spacer*3 0;
}