
/*
$site-body-bg:        #f5f5f5;
$brand-primary:       #c13832;

$link-hover-decoration: none;

$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

$breadcrumb-bg:                 transparent;
$breadcrumb-divider:            ">";
*/

$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;