@import "bt/variables";

$site-class-prefix: sa-;
$site-body-bg:        #f5f5f5;

$side-bg: darken($site-body-bg, 5%);
$side-border: darken($site-body-bg, 10%);

$footer-space: $spacer * 2;

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

$white-color: white;
$header-color: $white-color;

$table-link-color: $gray-lighter;
$table-link-color-hover: darken($table-link-color, 10%);