<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Angular 2 Material",
  "image" : "https://avatars3.githubusercontent.com/u/139426?v&#x3D;4",
  "url" : "https://material.angular.io",
  "author" : {
    "@type" : "Organization",
    "name" : "angular"
  },
  "datePublished" : "2018-08-08",
  "publisher" : {
    "@type" : "Organization",
    "name" : "angular"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/angular/material2",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "TypeScript, HTML, CSS, Python, JavaScript, Shell",
  "softwareVersion" : "6.4.3",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "15356"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2018-08-09",
    "reviewBody" : "Written in Sass  Javascript. Very good build in templates are available. This is frameworks design for material. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Angular 2 Material</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars3.githubusercontent.com/u/139426?v&#x3D;4" alt="angular">
  </div>
  <div class="media-body">
    <p>Material Design components for Angular</p>
    <p>Developed by Organization:angular</p>
    <p><small>Used languages: TypeScript(4.12 MB), HTML(392.79 kB), CSS(322.39 kB), Python(68.13 kB), JavaScript(41.16 kB), Shell(27.96 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/angular/material2" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://material.angular.io" role="button" target="_blank">Visit Angular 2 Material Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">material</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">6.4.3</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">2018 M08 8</h2>
                <p class="card-text"><small>Created at 2016 M01 5</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">2018 M08 9
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">1,203</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">3,831</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">15,356</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">1,164</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on 2018 M08 8 for 6.4.3</small>
    </h1>
        <h3 id="bugfixes">Bug Fixes</h3>
<ul>
<li><strong>bidi:</strong> default invalid directionality values to ltr (<a href="https://github.com/angular/material2/issues/12396">#12396</a>) (<a href="https://github.com/angular/material2/commit/58361f1">58361f1</a>)</li>
<li><strong>checkbox:</strong> prevent error when disabling while focused (<a href="https://github.com/angular/material2/issues/12327">#12327</a>) (<a href="https://github.com/angular/material2/commit/0c746c1">0c746c1</a>), closes <a href="https://github.com/angular/material2/issues/12323">#12323</a></li>
<li><strong>chips:</strong> dynamic chip input placeholder changes not being propagated to form field (<a href="https://github.com/angular/material2/issues/12422">#12422</a>) (<a href="https://github.com/angular/material2/commit/5053532">5053532</a>), closes <a href="https://github.com/angular/material2/issues/11861">#11861</a></li>
<li><strong>chips:</strong> focus indication not visible in high contrast mode (<a href="https://github.com/angular/material2/issues/12431">#12431</a>) (<a href="https://github.com/angular/material2/commit/3652707">3652707</a>)</li>
<li><strong>drag-drop:</strong> account for transition-delay when waiting for the animation to finish (<a href="https://github.com/angular/material2/issues/12466">#12466</a>) (<a href="https://github.com/angular/material2/commit/3580fb5">3580fb5</a>)</li>
<li><strong>form-field:</strong> reset inputs not being reset on safari (<a href="https://github.com/angular/material2/issues/12413">#12413</a>) (<a href="https://github.com/angular/material2/commit/952b553">952b553</a>), closes <a href="https://github.com/angular/material2/issues/12408">#12408</a></li>
<li><strong>form-field:</strong> unable to distinguish disabled form field in high contrast mode (<a href="https://github.com/angular/material2/issues/12445">#12445</a>) (<a href="https://github.com/angular/material2/commit/212bd0b">212bd0b</a>)</li>
<li><strong>live-announcer:</strong> duplicate live element when coming in from the server (<a href="https://github.com/angular/material2/issues/12378">#12378</a>) (<a href="https://github.com/angular/material2/commit/bf9bc0d">bf9bc0d</a>), closes <a href="https://github.com/angular/material2/issues/11940">#11940</a></li>
<li><strong>menu:</strong> menu content data being cleared when lazy-loaded content is reused between nested triggers (<a href="https://github.com/angular/material2/issues/12476">#12476</a>) (<a href="https://github.com/angular/material2/commit/747231a">747231a</a>), closes <a href="https://github.com/angular/material2/issues/12467">#12467</a></li>
<li><strong>slide-toggle:</strong> prevent error when disabling while focused (<a href="https://github.com/angular/material2/issues/12325">#12325</a>) (<a href="https://github.com/angular/material2/commit/80f6929">80f6929</a>), closes <a href="https://github.com/angular/material2/issues/12323">#12323</a></li>
<li><strong>table:</strong> error if row definition is on an ng-container (<a href="https://github.com/angular/material2/issues/12462">#12462</a>) (<a href="https://github.com/angular/material2/commit/39d40f3">39d40f3</a>), closes <a href="https://github.com/angular/material2/issues/12460">#12460</a></li>
</ul>
<h3 id="performanceimprovements">Performance Improvements</h3>
<ul>
<li><strong>overlay:</strong> remove detached overlays from the DOM (<a href="https://github.com/angular/material2/issues/12414">#12414</a>) (<a href="https://github.com/angular/material2/commit/40d8ae4">40d8ae4</a>), closes <a href="https://github.com/angular/material2/issues/12341">#12341</a></li>
</ul>
    </section>
</article>
