<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Angular 2 Material",
  "image" : "https://avatars0.githubusercontent.com/u/139426?v&#x3D;3",
  "url" : "https://material.angular.io/",
  "author" : {
    "@type" : "Organization",
    "name" : "angular"
  },
  "datePublished" : "2017-02-16",
  "publisher" : {
    "@type" : "Organization",
    "name" : "angular"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/angular/material2",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "TypeScript, CSS, HTML, JavaScript, Shell",
  "softwareVersion" : "",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "8023"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-04-03",
    "reviewBody" : "Written in Sass  Javascript. Very good build in templates are available. This is frameworks design for material. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Angular 2 Material</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars0.githubusercontent.com/u/139426?v&#x3D;3" alt="angular">
  </div>
  <div class="media-body">
    <p>Material Design components for Angular</p>
    <p>Developed by Organization:angular</p>
    <p><small>Used languages: TypeScript(1.29 MB), CSS(166.12 kB), HTML(116.46 kB), JavaScript(25.36 kB), Shell(16.27 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/angular/material2" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://material.angular.io/" role="button" target="_blank">Visit Angular 2 Material Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">material</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<p>
  <a class="btn btn-lg btn-danger" data-toggle="collapse" href="#collapsePrerelease" aria-expanded="false" aria-controls="collapsePrerelease">
    Prerelease version available
  </a> 
  <a class="btn btn-danger" data-toggle="collapse" href="#collapsePrerelease" aria-expanded="false" aria-controls="collapsePrerelease">
    Show more
  </a>     
</p>
<div class="collapse" id="collapsePrerelease">
    <div class="card-deck-wrapper my-2">
        <div class="card-deck">
            <div class="card card-inverse sa-card-aqua text-xs-center">
                <div class="card-block">
                    <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Prerelease version</h4>
                    <h2 class="card-title">2.0.0-beta.2</h2>
                </div>
            </div>
            <div class="card card-inverse sa-card-yellow text-xs-center">
                <div class="card-block">
                    <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                    <h2 class="card-title">Feb 16, 2017</h2>
                    <p class="card-text"><small>Created at Feb 16, 2017</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">-NA-</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">-NA-</h2>
                <p class="card-text"><small>Created at Jan 5, 2016</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Apr 1, 2017
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">511</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">1,736</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">8,023</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">871</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

</article>
