<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "AngularJS Material",
  "image" : "https://avatars3.githubusercontent.com/u/139426?v&#x3D;4",
  "url" : "https://material.angularjs.org/",
  "author" : {
    "@type" : "Organization",
    "name" : "angular"
  },
  "datePublished" : "2020-05-01",
  "publisher" : {
    "@type" : "Organization",
    "name" : "angular"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/angular/material",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "JavaScript, CSS, HTML, Shell, PHP",
  "softwareVersion" : "v1.1.22",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "16592"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2020-06-25",
    "reviewBody" : "Written in Sass  Javascript. Very good build in templates are available. This is frameworks design for material. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>AngularJS Material</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars3.githubusercontent.com/u/139426?v&#x3D;4" alt="angular">
  </div>
  <div class="media-body">
    <p>Material design for AngularJS</p>
    <p>Developed by Organization:angular</p>
    <p><small>Used languages: JavaScript(2.53 MB), CSS(258.57 kB), HTML(212.61 kB), Shell(11.48 kB), PHP(7.04 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/angular/material" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://material.angularjs.org/" role="button" target="_blank">Visit AngularJS Material Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">material</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v1.1.22</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">May 1, 2020</h2>
                <p class="card-text"><small>Created at Jul 2, 2014</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jun 23, 2020
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">422</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">3,583</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">16,592</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">795</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on May 1, 2020 for v1.1.22</small>
    </h1>
        <h3 id="bugfixes">Bug Fixes</h3>
<ul>
<li><strong>autocomplete:</strong> loop options list when moving past first/last option with arrow keys (<a href="https://github.com/angular/material/commit/5228f23b963b8d3811c916c2403469b92b2cca7e">5228f23</a>), closes <a href="https://github.com/angular/material/issues/11766">#11766</a></li>
<li><strong>autocomplete:</strong> md-not-found template is not styled properly (<a href="https://github.com/angular/material/commit/ce6e2ff13702cd462a1b45c06753d16278270ba1">ce6e2ff</a>), closes <a href="https://github.com/angular/material/issues/11852">#11852</a></li>
<li><strong>autocomplete:</strong> Move mouse enter and leave events to container (<a href="https://github.com/angular/material/commit/5b0c9ba9e0e5313925f6a27390559f32028fd95b">5b0c9ba</a>), closes <a href="https://github.com/angular/material/issues/11776">#11776</a></li>
<li><strong>autocomplete:</strong> scroll to top of the list each time dropdown open (<a href="https://github.com/angular/material/commit/498c9edd26e878d53e8f1b02a86380fe1b9895b1">498c9ed</a>), closes <a href="https://github.com/angular/material/issues/10479">#10479</a></li>
<li><strong>contact-chips:</strong> don't rely on debug info to get access to controller scope (<a href="https://github.com/angular/material/commit/2f770957f7d38d9c1386767b82bd662c07af9787">2f77095</a>), closes <a href="https://github.com/angular/material/issues/11699">#11699</a></li>
<li><strong>datepicker:</strong> md-open-on-focus fails when switching tabs with open datepicker (<a href="https://github.com/angular/material/commit/7a16778ecc08593463c361b33b4fe17154b8cb75">7a16778</a>)</li>
<li><strong>gesture:</strong> 'drag' gestures don't clean up touch action styles on parent (<a href="https://github.com/angular/material/commit/deb3dfc11e76ea38c2ec65a2a9b4d68560d0c181">deb3dfc</a>), closes <a href="https://github.com/angular/material/issues/11147">#11147</a></li>
<li><strong>list:</strong> dense lists cut off descenders of letters like gjqpy (<a href="https://github.com/angular/material/commit/0ab73bd86ab3f5e564ef73663e3f70e2404b2538">0ab73bd</a>), closes <a href="https://github.com/angular/material/issues/8890">#8890</a></li>
<li><strong>list:</strong> isEventFromControl() works on all browsers now (<a href="https://github.com/angular/material/commit/d537d251d7281ed446ce5b5502a123884e1af9f4">d537d25</a>), closes <a href="https://github.com/angular/material/issues/7937">#7937</a></li>
<li><strong>list:</strong> primary action is fired twice on space/enter keydown (<a href="https://github.com/angular/material/commit/920018efbd51ed4f164db3fa02da721d3148da43">920018e</a>), closes <a href="https://github.com/angular/material/issues/11756">#11756</a></li>
<li><strong>list:</strong> secondary actions give aria warning if text is in a span (<a href="https://github.com/angular/material/commit/90c8b8d6f6265b3c5b71f38fa847dc5c6bb9ce04">90c8b8d</a>), closes <a href="https://github.com/angular/material/issues/6152">#6152</a></li>
<li><strong>menu-bar:</strong> z-index not restored on menu close (<a href="https://github.com/angular/material/commit/4a4dde489835dd1c2ef221563bb5f2fd9fc9bddf">4a4dde4</a>), closes <a href="https://github.com/angular/material/issues/11235">#11235</a></li>
<li><strong>nav-bar:</strong> clicked nav item not focused or selected in some cases (<a href="https://github.com/angular/material/commit/4d4e0ac9487c9a632447fa5ecf38941934c3cf2c">4d4e0ac</a>), closes <a href="https://github.com/angular/material/issues/11747">#11747</a></li>
<li><strong>select:</strong> overhaul screen reader support (<a href="https://github.com/angular/material/commit/928c71d6ee87bc03ce383bfa555f67e1d373fe13">928c71d</a>), closes <a href="https://github.com/angular/material/issues/10748">#10748</a> <a href="https://github.com/angular/material/issues/10967">#10967</a></li>
<li><strong>select:</strong> sanitize user input before searching options (<a href="https://github.com/angular/material/issues/11855">#11855</a>) (<a href="https://github.com/angular/material/commit/0ec0cc5ee8aac0db6103ae4c1ee1fc30620247b2">0ec0cc5</a>), closes <a href="https://github.com/angular/material/issues/11854">#11854</a></li>
<li><strong>select:</strong> when using trackBy, trigger ng-change only when tracked property is different (<a href="https://github.com/angular/material/commit/ecd55d0dd2d52c746e4aa907bfd3712f6c03a68a">ecd55d0</a>), closes <a href="https://github.com/angular/material/issues/11108">#11108</a></li>
<li><strong>select:</strong> menuController not defined edge case in focusOptionNode (<a href="https://github.com/angular/material/commit/b9d832209f8b9e25b4bc5dc2654bf18421144816">b9d8322</a>), closes <a href="https://github.com/angular/material/issues/11885">#11885</a></li>
</ul>
<h3 id="documentation">Documentation</h3>
<ul>
<li><strong>vscode:</strong> add VSCode configuration and guide (<a href="https://github.com/angular/material/pull/11879">#11879</a>) (<a href="https://github.com/angular/material/commit/a8954dfaded6b5ae36aa35eaba3f33602f1e9da3">a8954df</a>)</li>
<li><strong>dialog:</strong> clarify promise rejection behavior in descriptions (<a href="https://github.com/angular/material/pull/11889">#11889</a>) (<a href="https://github.com/angular/material/commit/939f6c9f8ef16326b6cd15b0164afb69ae0c72fc">939f6c9</a>), closes (<a href="https://github.com/angular/material/issues/10130">#10130</a>)</li>
<li><strong>docs, README:</strong> remove Bower references, update GitHub and NPM icons. fix 'View Demo' button appearing for directives w/o demos (<a href="https://github.com/angular/material/pull/11888">#11888</a>) (<a href="https://github.com/angular/material/commit/5c75b121920243410c164df7ec33558087cccf1f">5c75b12</a>)</li>
<li><strong>getting-started, home:</strong> updates to landing page and getting started. add Blank StackBlitz Demo starter (<a href="https://github.com/angular/material/pull/11890">#11890</a>) (<a href="https://github.com/angular/material/commit/d1a9976cad047288262d904460e7be6089de8128">d1a9976</a>)</li>
<li><strong>COMMIT_LEVELS:</strong> update guide to better describe the process and responsibilities (<a href="https://github.com/angular/material/pull/11862">#11862</a>) (<a href="https://github.com/angular/material/commit/38fe9560e23467cabe18a8653849238946f2afa5">38fe956</a>)</li>
<li><strong>BUILD:</strong> rewrote most of the guide (<a href="https://github.com/angular/material/pull/11880">#11880</a>) (<a href="https://github.com/angular/material/commit/40939534460f175543a0261c3b232d71e2a2884b">4093953</a>)</li>
</ul>
<h3 id="contributors">Contributors</h3>
<p>Thank you to the contributors who helped with the v1.1.22 release:</p>
<p><a href="https://github.com/Splaktar"><img alt="Splaktar" src="https://avatars1.githubusercontent.com/u/3506071?v=4&s=117" width="117"></a> |<a href="https://github.com/marosoft"><img alt="marosoft" src="https://avatars0.githubusercontent.com/u/3945455?v=4&s=117" width="117"></a> |<a href="https://github.com/oliversalzburg"><img alt="oliversalzburg" src="https://avatars2.githubusercontent.com/u/1658949?v=4&s=117" width="117"></a> |<a href="https://github.com/andrewseguin"><img alt="andrewseguin" src="https://avatars3.githubusercontent.com/u/22898577?v=4&s=117" width="117"></a> |<a href="https://github.com/free-easy"><img alt="free-easy" src="https://avatars2.githubusercontent.com/u/20483759?v=4&s=117" width="117"></a> |<a href="https://github.com/nathanael-bice"><img alt="nathanael-bice" src="https://avatars2.githubusercontent.com/u/6155868?v=4&s=117" width="117"></a> |
:---: |:---: |:---: |:---: |:---: |:---: |
<a href="https://github.com/Splaktar">Splaktar</a> |<a href="https://github.com/marosoft">marosoft</a> |<a href="https://github.com/oliversalzburg">oliversalzburg</a> |<a href="https://github.com/andrewseguin">andrewseguin</a> |<a href="https://github.com/free-easy">free-easy</a> |<a href="https://github.com/nathanael-bice">nathanael-bice</a> |</p>
<p><a href="https://github.com/psamim"><img alt="psamim" src="https://avatars3.githubusercontent.com/u/1868679?v=4&s=117" width="117"></a> |<a href="https://github.com/qubiack"><img alt="qubiack" src="https://avatars1.githubusercontent.com/u/19862364?v=4&s=117" width="117"></a> |
:---: |:---: |
<a href="https://github.com/psamim">psamim</a> |<a href="https://github.com/qubiack">qubiack</a> |</p>
    </section>
</article>
