<header>
    <h1>Avalanche <small><span class="tag tag-pill tag-default">User Project</span></small></h1>
</header>
<div class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="65" height="65" src="https://avatars.githubusercontent.com/u/793191?v&#x3D;3" alt="colourgarden/avalanche">
  </div>
  <div class="media-body">
    <p class="lead">Superclean, powerful, responsive, Sass-based, BEM-syntax CSS grid system</p>
  </div>
</div>
<hr>
<div class="my-2 text-xs-center">
    <a class="btn btn-primary" href="https://github.com/colourgarden/avalanche" role="button" target="_blank">Visit Github page</a>
    <a class="btn btn-primary m-1" href="" role="button" target="_blank">Visit Avalanche Page</a>    
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current Version</h4>
                <h2 class="card-title">
                        1.2.0
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                <h2 class="card-title">
                        November 25, 2016
                </h2>
                <p class="card-text"><small>Created at November 24, 2015</small></p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">
                        3
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">
                        30
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">
                        519
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">
                        18
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
    <section class="my-2">
    <h1>
        Release Notes <small>on November 25, 2016 for 1.2.0</small>
    </h1>
        <p>Introducing new variables to enable use of BEVM naming convention.</p>
<ul>
<li>Element name (<code>cell</code> by default) can now be modified independently of global namespace (<code>grid</code>)</li>
<li>Class chain separators for element, modifier and breakpoint can now be set individually. Changing modifier to <code>'.-'</code> enables use of BEVM variation classes like <code>grid -center</code> rather than <code>grid--center</code></li>
</ul>
<p>Thanks for @willemvb for initial idea and groundwork.</p>
    </section>
