<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "awsm.css",
  "image" : "https://avatars3.githubusercontent.com/u/6537798?v&#x3D;4",
  "url" : "https://igoradamenko.github.io/awsm.css/",
  "author" : {
    "@type" : "Person",
    "name" : "igoradamenko"
  },
  "datePublished" : "2017-01-15",
  "publisher" : {
    "@type" : "Person",
    "name" : "igoradamenko"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/igoradamenko/awsm.css",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "HTML, CSS, JavaScript",
  "softwareVersion" : "v2.1.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "883"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-12-12",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>awsm.css</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars3.githubusercontent.com/u/6537798?v&#x3D;4" alt="igoradamenko">
  </div>
  <div class="media-body">
    <p>Simple CSS library for semantic HTML markup</p>
    <p>Developed by User:igoradamenko</p>
    <p><small>Used languages: HTML(31.51 kB), CSS(9.56 kB), JavaScript(2.74 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/igoradamenko/awsm.css" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://igoradamenko.github.io/awsm.css/" role="button" target="_blank">Visit awsm.css Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:40%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v2.1.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">2017 M01 15</h2>
                <p class="card-text"><small>Created at 2015 M09 12</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">2017 M11 24
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">1</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">48</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">883</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">30</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on 2017 M01 15 for v2.1.0</small>
    </h1>
        <p><img src="https://cloud.githubusercontent.com/assets/6537798/21957549/90ac1456-daa9-11e6-8c65-604fb92b4981.png" align="right"/></p>
<p>Added:</p>
<ul>
<li>Rems for font size &amp; page width (#76).</li>
<li>Margins for <code>aside</code>.</li>
<li>Styles for <code>h4</code>, <code>h5</code>, <code>h6</code> (#81).</li>
<li>Support for header anchor links.</li>
<li>More demos (#80).</li>
<li>“How to contribute” guide.</li>
</ul>
<p>Fixed:</p>
<ul>
<li>Code block right border size.</li>
</ul>
    </section>
</article>
