<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Baseguide",
  "image" : "https://avatars0.githubusercontent.com/u/1077807?v&#x3D;4",
  "url" : "http://basegui.de",
  "author" : {
    "@type" : "Person",
    "name" : "slavanga"
  },
  "datePublished" : "2017-07-23",
  "publisher" : {
    "@type" : "Person",
    "name" : "slavanga"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/slavanga/baseguide",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript",
  "softwareVersion" : "v2.0.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "77"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-07-29",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Baseguide</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars0.githubusercontent.com/u/1077807?v&#x3D;4" alt="slavanga">
  </div>
  <div class="media-body">
    <p>Lightweight and robust CSS framework for prototyping and production code.</p>
    <p>Developed by User:slavanga</p>
    <p><small>Used languages: CSS(42.75 kB), JavaScript(3.30 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/slavanga/baseguide" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://basegui.de" role="button" target="_blank">Visit Baseguide Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v2.0.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Jul 23, 2017</h2>
                <p class="card-text"><small>Created at Mar 8, 2015</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jul 23, 2017
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">-NA-</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">10</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">77</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">13</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on July 23, 2017 for v2.0.0</small>
    </h1>
        <h3 id="features">Features</h3>
<ul>
<li>Add button mixins (e88b7363380c1c6f0fd1cd293b54b69a5ca6fb7e, a8818961c6a0ad95d4aae74c8c419423b7584192, 0968ae0bf5eeaa42f1a3b238214a2f33bd958692)</li>
<li>Add fade-in and fade-out mixins (65d64b0be791c0d5c2594a0257396146eaba9860)</li>
<li>Add variable $global-bg (4ce4702f7b835ddd1256f35a5c2f1b4a1011372a)</li>
<li>Add variable $link-decoration (f7345ba5cd52d2404136e21697f11234451eb665)</li>
<li>Add variable $grid-container-gutter (30ac35058279ad59d3eee10f9a5d7a5b789ba9d3)</li>
</ul>
<h3 id="updates">Updates</h3>
<ul>
<li>Drop IE 8 support (52aa08a31c89c1fb0d2187f2ebfa419b8262eeb9)</li>
<li>Enable flexbox grid by default (with fallback) (282f475250c0f4b9cb652dbb4a8ef98d25d45993)</li>
<li>Change default breakpoints (ddaf6725249b3ec4a766e9f53104d201221dccff)</li>
<li>Change scss structure (bdb39696a41b69b37797cf498800384763de5e2b, ec66c5696b20883d3bfd6d4d9457b1f868ec0d6d, 840822ee9eb9287890fdaf9b64c6b4d3661b0e5d)</li>
<li>Update normalize to v7.0.0 (1214f958f1ad9361a34f874eb38c02f12954e9a2)</li>
<li>Update triangle mixin (a460066f90826ec987f3d9cff6d25d1f1594014f)</li>
<li>Allow custom breakpoints in loop-breakpoints (4cd0da045faef343623782fd2a9cab30ee33cb30)</li>
<li>Return gutters in rem (31ec63a7b300688487021a2fe8ed9ccd50999fab)</li>
<li>Use rem unit for font sizes (156568df77c1ef28d3a3957baf8b9720efa23e25)</li>
<li>Use rem unit for spacing (9fb5fa4fc93c633525b0123dfb25c403d1877e72)</li>
<li>Make fallback icons optional (2e1abd9b516113f3f1859765184024076584d85c)</li>
<li>Only set background-color on table rows (8da402b81f8a8c251e82c47e471d976fe53eeede)</li>
<li>Use currentColor on select for more flexibility (2e8db873166a96738e61343af02a794c1315a2ff)</li>
<li>Normalize label spacing (76aed0be8152015726f343ae947069e61ab92656)</li>
<li>Output text-hyphenate class (268442bf74101cf72a0df4b2ccf927ba8b941aa4)</li>
<li>Add !important to text utilities (37e5b3589b08a10d59c6ed834d65fd00199e0a83)</li>
<li>Use inline-block for links in equal list (f22458df678002427d6654f984fcdeb4e37c1a97)</li>
<li>Set hr border from text color (4f958ee658f65110a3488313309abe3a3d161180)</li>
<li>Remove ::first-letter and ::first-line selectors from print styles (4cdd01d5efb5b7b3303b9762ede14ba05f0abd8d)</li>
</ul>
<h3 id="build">Build</h3>
<ul>
<li>Use gulp-watch to also watch new files (f5dabe918b8671802973a460c8fea7ac806788c4)</li>
<li>Generate sourcemaps for unminified css (9bf99ccea4b6299f3ba1078bf22bea76e6e60044)</li>
<li>Ignore scss files in subfolders (5fd73c13a35bad54452592a2a8b1a380856109be)</li>
<li>Add eslint (e41ef07d42b8c8a38c1ff9b35f1b25555c91f1a6)</li>
</ul>
<h3 id="docs">Docs</h3>
<ul>
<li>Update install section (722e425fea87fee430db59bff184a3825efaf690)</li>
<li>Add development section (c3fc7ce987933f04691e401c1a8789d15e379eb8)</li>
<li>Add new docs with code examples (f99dab55aed44ac94aeef2733e2b072d591a8c8d)</li>
</ul>
    </section>
</article>
