<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Baseguide",
  "image" : "https://avatars0.githubusercontent.com/u/1077807?v&#x3D;4",
  "url" : "https://basegui.de",
  "author" : {
    "@type" : "Person",
    "name" : "slavanga"
  },
  "datePublished" : "2020-04-15",
  "publisher" : {
    "@type" : "Person",
    "name" : "slavanga"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/slavanga/baseguide",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript",
  "softwareVersion" : "v4.0.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "121"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2020-06-20",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Baseguide</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars0.githubusercontent.com/u/1077807?v&#x3D;4" alt="slavanga">
  </div>
  <div class="media-body">
    <p>Lightweight and robust CSS framework for prototyping and production code.</p>
    <p>Developed by User:slavanga</p>
    <p><small>Used languages: CSS(44.55 kB), JavaScript(3.31 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/slavanga/baseguide" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://basegui.de" role="button" target="_blank">Visit Baseguide Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v4.0.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Apr 15, 2020</h2>
                <p class="card-text"><small>Created at Mar 8, 2015</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jun 12, 2020
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">-NA-</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">14</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">121</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">13</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on April 15, 2020 for v4.0.0</small>
    </h1>
        <h3 id="features">Features</h3>
<ul>
<li>Add responsive typescale (62757273f69774c2827b757aeecc7c74503d8ed6, 6c60958f7c726ea51c7fe03a3198d790cbf80ff0)</li>
<li>Add fluid-calc mixin (8bcdda1db07cad1e5d6dfe1c2b5daa29b8000c44, 4180e41fbccfc89d170b84969c8d055476de0bd8, 0439a4d8139c905c90f7028fede2e891e947a214)</li>
</ul>
<h3 id="updates">Updates</h3>
<ul>
<li>Remove media-fullscreen class (df6af96bd4874e984896e7a207d3fe37c4f3495f)</li>
<li>Simplify largest breakpoint handling (7cd646fcdf5dc4e4f9e41d4d41b3a3532e9034e7)</li>
<li>Remove grid fallback with floats (cfeb32eaddc22db7dd6fa2a2baff459d6823e11d, ee8f626a99d0e7e081ee28446ee3d574ec37a7fb)</li>
<li>Reset spacing on last heading (1dd8597003091b919ac2fbfb148fb27088c40a03)</li>
<li>Encode svg icons in get-icon function (2198c748835a67124bbc3214f424b063aee6b960)</li>
<li>Update underline mixin (ce403c6abbc32d8f297ba6ed7530053855ea34cf)</li>
<li>Add variable $checkbox-border-radius (840ccada2d9dca47ec1eb638df9baab13aa25290)</li>
<li>Add px unit to xs breakpoint (4e790c45f673986b7259340340971013ce5d4d12, 72ab31a8092a09a2b284e67a6867b29ef4cd95ae)</li>
</ul>
<h3 id="build">Build</h3>
<ul>
<li>Add babel to build process (dfc82de59c569e83de41f30fb545b017b5ec019e)</li>
<li>Use exports syntax for gulp tasks (0fdea48a27ccd4d18faf7916c22060a37effb5d6)</li>
</ul>
<h3 id="docs">Docs</h3>
<ul>
<li>Add typography docs (ca354f982f577d6ec0c62daec92aafb177694043)</li>
</ul>
    </section>
</article>
