<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Baseguide",
  "image" : "https://avatars.githubusercontent.com/u/1077807?v&#x3D;3",
  "url" : "http://basegui.de",
  "author" : {
    "@type" : "Person",
    "name" : "slavanga"
  },
  "datePublished" : "2017-01-03",
  "publisher" : {
    "@type" : "Person",
    "name" : "slavanga"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/slavanga/baseguide",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, HTML, JavaScript",
  "softwareVersion" : "v1.8.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "69"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-01-14",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Baseguide</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars.githubusercontent.com/u/1077807?v&#x3D;3" alt="slavanga">
  </div>
  <div class="media-body">
    <p>Lightweight and robust CSS framework for prototyping and production code.</p>
    <p>Developed by User:slavanga</p>
    <p><small>Used languages: CSS(25.38 kB), HTML(18.03 kB), JavaScript(2.94 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/slavanga/baseguide" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://basegui.de" role="button" target="_blank">Visit Baseguide Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v1.8.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Jan 3, 2017</h2>
                <p class="card-text"><small>Created at Mar 8, 2015</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jan 3, 2017
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">-NA-</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">9</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">69</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">11</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on January 3, 2017 for v1.8.0</small>
    </h1>
        <h3 id="features">Features</h3>
<ul>
<li>Add variable $button-transition (d6769c66142034d09a5e248212e6bb1ccbfdaf18, a0e018653ef31eebd9311349f5f578c6b592d69a)</li>
<li>Add variable $table-stripe-bg (93e3db3811db7c821c8fbb2e3b09b39d75cb26df)</li>
</ul>
<h3 id="updates">Updates</h3>
<ul>
<li>Inherit all font properties for forms (4022dbdd2b080cd8aa5ecd1dd30343ce9b0e1894)</li>
<li>General cleanup (d53a1bac79f56611ec71c471fdcd932638b2dd16, fde04a1a8657056181dbe58cd9c9cfddc20e792c, 023965fd8134298051ac25a655a27e3d2bf2c901)</li>
</ul>
<h3 id="build">Build</h3>
<ul>
<li>Add Browsersync proxy example (5d5b0dd14c4e488ec8decda84f26ba582d7f171b)</li>
<li>Update stylelint and config (34ad746413325cfad31729151b764f217db8413d)</li>
</ul>
    </section>
</article>
