<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Bounce.js",
  "image" : "https://avatars2.githubusercontent.com/u/546817?v&#x3D;4",
  "url" : "http://bouncejs.com/",
  "author" : {
    "@type" : "Organization",
    "name" : "tictail"
  },
  "datePublished" : "2015-02-16",
  "publisher" : {
    "@type" : "Organization",
    "name" : "tictail"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/tictail/bounce.js",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, CoffeeScript",
  "softwareVersion" : "0.8.2",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "5140"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-07-29",
    "reviewBody" : "Written in Sass  Javascript This is frameworks design for plain. This framework Feature types are animation"
  }
}
</script>


<header>
    <h1>Bounce.js</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/546817?v&#x3D;4" alt="tictail">
  </div>
  <div class="media-body">
    <p>Create beautiful CSS3 powered animations in no time.</p>
    <p>Developed by Organization:tictail</p>
    <p><small>Used languages: CSS(84.28 kB), CoffeeScript(50.42 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/tictail/bounce.js" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://bouncejs.com/" role="button" target="_blank">Visit Bounce.js Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:80%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">animation</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">0.8.2</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Feb 16, 2015</h2>
                <p class="card-text"><small>Created at Apr 10, 2014</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Feb 16, 2015
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">13</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">371</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">5,140</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">199</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on February 16, 2015 for 0.8.2</small>
    </h1>
        <ul>
<li>Fixed IE compatibility issue with the <code>bounce.remove</code> method</li>
<li>Added <code>optimized</code> option to <code>getKeyframes</code> and <code>getKeyframeCSS</code> to optimize number of keyframes</li>
</ul>
    </section>
</article>
