<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Bulma",
  "image" : "https://avatars1.githubusercontent.com/u/1254808?v&#x3D;4",
  "url" : "https://bulma.io",
  "author" : {
    "@type" : "Person",
    "name" : "jgthms"
  },
  "datePublished" : "2018-10-12",
  "publisher" : {
    "@type" : "Person",
    "name" : "jgthms"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/jgthms/bulma",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, Shell",
  "softwareVersion" : "0.7.2",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "31948"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2018-12-26",
    "reviewBody" : "Written in Sass   This is frameworks design for plain, metro. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Bulma</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars1.githubusercontent.com/u/1254808?v&#x3D;4" alt="jgthms">
  </div>
  <div class="media-body">
    <p>Modern CSS framework based on Flexbox</p>
    <p>Developed by User:jgthms</p>
    <p><small>Used languages: CSS(312.70 kB), Shell(1.22 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/jgthms/bulma" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://bulma.io" role="button" target="_blank">Visit Bulma Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span>, <span class="text-capitalize">metro</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">0.7.2</h2>
                <p class="card-text"><small>118.56 kB</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Oct 12, 2018</h2>
                <p class="card-text"><small>Created at Jan 24, 2016</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Dec 13, 2018
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">474</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">2,512</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">31,948</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">685</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on October 12, 2018 for 0.7.2</small>
    </h1>
        <h3 id="newfeatures">New features</h3>
<ul>
<li>#1884 New <code>$navbar-burger-color</code> variable</li>
<li>#1679 Add breakpoint based column gaps</li>
<li>#1905 Fix <code>modal</code> for IE11 #1902</li>
<li>#1919 New <code>is-arrowless</code> class for navbar items</li>
<li>#1949 New <code>is-fullheight-with-navbar</code> class for heros</li>
<li>#1764 New <code>.is-sr-only</code> helper</li>
<li>#2109 Add and use <code>$navbar-breakpoint</code> variable</li>
<li>New variables <code>$control-height</code>, <code>$control-line-height</code>, <code>$pagination-min-width</code>, <code>$input-height</code></li>
<li>#1720 Add list element feature</li>
<li>#2123 Add <code>.content ol</code> types: <code>.is-lower-roman</code>, <code>.is-upper-roman</code>, <code>.is-lower-alpha</code>, <code>.is-upper-alpha</code>, and support for the <code>type=</code> HTML attribute</li>
</ul>
<h3 id="improvements">Improvements</h3>
<ul>
<li>#1964 Allow <code>.notification</code> to have a <code>.dropdown-item</code></li>
<li>#1999 Change <code>$border</code> to <code>$grey-lighter</code> in mixins</li>
<li>#2085 <code>.media-content</code> will allow scrolling horizontally if the content is too wide</li>
<li>#1744 Fix #1710 by using <code>$table-striped-row-even-hover-background-color</code> only for even rows</li>
<li>#2074 Allow <code>&lt;button&gt;</code> as <code>.dropdown-item</code></li>
</ul>
<h3 id="bugfixes">Bug fixes</h3>
<ul>
<li>#1749 Fix icons floating out of input area</li>
<li>#1993 Fixes #1992 Prevent disabled form elements hover state from overlapping, if control has add-ons elements</li>
<li>#1909 Fix Modal card in IE11</li>
<li>#1908 Fix IE11 when textarea doesn't listen to <code>size=""</code></li>
<li>Fix #1991 The last button in list of full-width buttons has longer width</li>
<li>#1982 Fix navbar-burger color when color modifier is used</li>
<li>#1819 Fix #1137 error message for required file</li>
<li>Fix #1904 and #1969: hide native file input in Chrome</li>
<li>#2059 Remove unnecessary right margin from last level-item (level.is-mobile)</li>
</ul>
    </section>
</article>
