<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Bulma",
  "image" : "https://avatars1.githubusercontent.com/u/1254808?v&#x3D;4",
  "url" : "https://bulma.io",
  "author" : {
    "@type" : "Person",
    "name" : "jgthms"
  },
  "datePublished" : "2020-06-07",
  "publisher" : {
    "@type" : "Person",
    "name" : "jgthms"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/jgthms/bulma",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, Shell",
  "softwareVersion" : "0.9.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "40236"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2020-06-25",
    "reviewBody" : "Written in Sass   This is frameworks design for plain, metro. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Bulma</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars1.githubusercontent.com/u/1254808?v&#x3D;4" alt="jgthms">
  </div>
  <div class="media-body">
    <p>Modern CSS framework based on Flexbox</p>
    <p>Developed by User:jgthms</p>
    <p><small>Used languages: CSS(361.09 kB), Shell(579.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/jgthms/bulma" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://bulma.io" role="button" target="_blank">Visit Bulma Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span>, <span class="text-capitalize">metro</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">0.9.0</h2>
                <p class="card-text"><small>227.89 kB</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Jun 7, 2020</h2>
                <p class="card-text"><small>Created at Jan 24, 2016</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jun 15, 2020
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">338</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">3,430</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">40,236</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">671</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on June 7, 2020 for 0.9.0</small>
    </h1>
        <h3 id="deprecationwarning">Deprecation warning</h3>
<p>The <code>base/helpers.sass</code> file is <strong>deprecated</strong>. It has moved into its own <code>/helpers</code> folder. If you were importing <code>base/helpers.sass</code> or <code>base/_all.sass</code>, please import <code>sass/helpers/_all.sass</code> now.
If you were simply importing the whole of Bulma with <code>@import "~/bulma/bulma.sass"</code> or similar, you won't have to change anything, and everything will work as before.</p>
<p>The <code>list</code> component is also <strong>deprecated</strong>: the <code>components/list.sass</code> file has been deleted. It was never officialy supported as it was too similar to  <code>panel</code> component. Use that one instead.</p>
<h3 id="rtlsupport">RTL support</h3>
<p>Bulma now has <strong>RTL support</strong>.</p>
<p>By setting the Sass flag <code>$rtl</code> to <code>true</code>, you can create an RTL version of Bulma, thanks to 4 new Sass mixins:</p>
<ul>
<li><code>=ltr</code></li>
<li><code>=rtl</code></li>
<li><code>=ltr-property($property, $spacing, $right: true)</code></li>
<li><code>=ltr-position($spacing, $right: true)</code></li>
</ul>
<p>The Bulma package now also comes with a <code>bulma-rtl.css</code> and <code>bulma-rtl.min.css</code> file to be used straight away.</p>
<h3 id="spacinghelpers">Spacing helpers</h3>
<p>Bulma now has <strong>spacing helpers</strong>: https://bulma.io/documentation/helpers/spacing-helpers/</p>
<p>Bulma provides <strong>margin</strong> <code>m*</code> and <strong>padding</strong> <code>p*</code> helpers in all <strong>directions</strong>:</p>
<ul>
  <li>
    <code>*t</code> for <strong>top</strong>
  </li>
  <li>
    <code>*r</code> for <strong>right</strong>
  </li>
  <li>
    <code>*b</code> for <strong>bottom</strong>
  </li>
  <li>
    <code>*l</code> for <strong>left</strong>
  </li>
  <li>
    <code>*x</code> horizontally for both <strong>left</strong> and <strong>right</strong>
  </li>
  <li>
    <code>*y</code> vertically for both <strong>top</strong> and <strong>bottom</strong>
  </li>
</ul>
<p>
  You need to <strong>combine</strong> a margin/padding prefix with a direciton suffix. For example:
</p>
<ul>
  <li>for a <code>margin-top</code>, use <code>mt-*</code></li>
  <li>for a <code>padding-bottom</code>, use <code>pb-*</code></li>
  <li>for both <code>margin-left</code> and <code>margin-right</code>, use <code>mx-*</code></li>
</ul>
<p>
  Each of these <code>property-direction</code> <strong>combinations</strong> needs to be appended with one of <strong>6 value suffixes</strong>
</p>
<p>This release also includes the following helpers:</p>
<ul>
<li>light and dark color helpers</li>
<li>light and dark background color helpers</li>
</ul>
<h3 id="improvements">Improvements</h3>
<ul>
<li>#2925 Center table cell content vertically with <code>is-vcentered</code></li>
</ul>
<h3 id="bugfixes">Bug fixes</h3>
<ul>
<li>#2955 Fix issue when there's only one <code>is-toggle</code> tag</li>
</ul>
    </section>
</article>
