<article>
<header>
    <h1>Concise CSS <small><span class="tag tag-pill tag-default">Organization Project</span></small></h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="65" height="65" src="https://avatars.githubusercontent.com/u/7787115?v&#x3D;3" alt="ConciseCSS/concise.css">
  </div>
  <div class="media-body">
    <p class="lead">A CSS framework that&#x27;s lightweight and easy-to-use. Give up the bloat. Stop tripping over your classes. Be Concise.</p>
  </div>
</section>
<hr>
<div class="my-2 text-xs-center">
    <a class="btn btn-primary" href="https://github.com/ConciseCSS/concise.css" role="button" target="_blank">Visit Github page</a>
    <a class="btn btn-primary m-1" href="http://concisecss.com" role="button" target="_blank">Visit Concise CSS Page</a>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current Version</h4>
                <h2 class="card-title">
                        v4.1.0
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                <h2 class="card-title">
                        December 18, 2016
                </h2>
                <p class="card-text"><small>Created at June 1, 2014</small></p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">
                        1
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">
                        70
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">
                        804
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">
                        40
                </h2>
            </div>
        </div>
    </div>
</div>


{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on December 18, 2016 for v4.1.0</small>
    </h1>
        <h2 id="changelog">Changelog</h2>
<ul>
<li>[Fix #242] Fix white-space in pre>code blocks (https://github.com/ConciseCSS/concise.css/commit/03bd34e4fb627ca19408faf1ef5d393fe34ae853)</li>
<li>[Fix #243] Add column wrapping (https://github.com/ConciseCSS/concise.css/commit/fcd0235f3fd6e1b5ba7ac81a62d8b032f6775da8)</li>
<li>Fix root font size bug by specifying units (Thanks to @craigmichaelmartin) (https://github.com/ConciseCSS/concise.css/commit/923cd22ea807aa1cfcfbf897779de49437177233)</li>
<li>[fix: #250] Avoid top margin for columns (https://github.com/ConciseCSS/concise.css/commit/06eb6dd989000d20be74f22c57ae44f64356a0c4)</li>
<li>[fix: #248] Unstyle lists inside navs (https://github.com/ConciseCSS/concise.css/commit/3e2b5056e3f274ae89f7b99522abd776ba279bbe)</li>
<li>[fix: #249] Add note about browser compatibility (https://github.com/ConciseCSS/concise.css/commit/d5e71e566fb2ba7fc13b9ccfb99988bdbdab857a)</li>
</ul>
    </section>
</article>
