<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Office UI Fabric",
  "image" : "https://avatars2.githubusercontent.com/u/6789362?v&#x3D;4",
  "url" : "https://developer.microsoft.com/en-us/fabric",
  "author" : {
    "@type" : "Organization",
    "name" : "OfficeDev"
  },
  "datePublished" : "2018-09-18",
  "publisher" : {
    "@type" : "Organization",
    "name" : "OfficeDev"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/OfficeDev/office-ui-fabric-core",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript, HTML, TypeScript",
  "softwareVersion" : "9.6.1",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "3055"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2019-01-22",
    "reviewBody" : "Written in Sass  Javascript. Very good build in templates are available. This is frameworks design for metro. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Office UI Fabric</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/6789362?v&#x3D;4" alt="OfficeDev">
  </div>
  <div class="media-body">
    <p>The front-end CSS framework for building experiences for Office and Office 365.</p>
    <p>Developed by Organization:OfficeDev</p>
    <p><small>Used languages: CSS(355.10 kB), JavaScript(60.31 kB), HTML(18.50 kB), TypeScript(14.63 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/OfficeDev/office-ui-fabric-core" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://developer.microsoft.com/en-us/fabric" role="button" target="_blank">Visit Office UI Fabric Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">metro</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">9.6.1</h2>
                <p class="card-text"><small>223.90 kB</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Sep 18, 2018</h2>
                <p class="card-text"><small>Created at May 20, 2015</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Oct 5, 2018
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">22</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">408</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">3,055</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">253</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on September 18, 2018 for 9.6.1</small>
    </h1>
        <h2 id="fixed">Fixed</h2>
<ul>
<li>#1133 Avoids a potential bug with the responsive classes by reducing the gap between breakpoints.</li>
<li>#1129 Reduces the specificity of the <code>ms-box-shadow()</code> mixin.</li>
</ul>
    </section>
</article>
