<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Office UI Fabric",
  "image" : "https://avatars2.githubusercontent.com/u/6789362?v&#x3D;4",
  "url" : "https://developer.microsoft.com/en-us/fabric",
  "author" : {
    "@type" : "Organization",
    "name" : "OfficeDev"
  },
  "datePublished" : "2019-04-16",
  "publisher" : {
    "@type" : "Organization",
    "name" : "OfficeDev"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/OfficeDev/office-ui-fabric-core",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript, HTML, TypeScript",
  "softwareVersion" : "10.0.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "3098"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2019-04-16",
    "reviewBody" : "Written in Sass  Javascript. Very good build in templates are available. This is frameworks design for metro. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Office UI Fabric</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/6789362?v&#x3D;4" alt="OfficeDev">
  </div>
  <div class="media-body">
    <p>The front-end CSS framework for building experiences for Office and Office 365.</p>
    <p>Developed by Organization:OfficeDev</p>
    <p><small>Used languages: CSS(409.83 kB), JavaScript(60.31 kB), HTML(18.50 kB), TypeScript(14.63 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/OfficeDev/office-ui-fabric-core" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://developer.microsoft.com/en-us/fabric" role="button" target="_blank">Visit Office UI Fabric Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">metro</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">10.0.0</h2>
                <p class="card-text"><small>251.86 kB</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Apr 16, 2019</h2>
                <p class="card-text"><small>Created at May 20, 2015</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Apr 5, 2019
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">27</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">418</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">3,098</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">253</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on April 16, 2019 for 10.0.0</small>
    </h1>
        <p>This release updates Fabric to include a new set of styles that support the <a href="https://www.microsoft.com/design/fluent">Fluent Design System</a>. </p>
<h2 id="whatthisreleaseincludes">What this release includes</h2>
<p>The Fluent style updates include new colors, type styles, depths (shadows), and motion helpers. Here are details on some of the style updates:</p>
<ul>
<li><strong>Colors</strong> are updated to include neutrals that are warmer and more approachable. There are also new color palettes for different types of use cases, like Personas, Communication, and a shared set for common components like personas, sites, and more.</li>
<li><strong>Typography</strong> has been updated to a new common type ramp that is or will be in use across core Microsoft apps, leveraging the latest type weights from Fluent.</li>
<li><strong>Depth styles</strong> now include a common set of shadow levels from Fluent, which can be applied to context menus, dialogs, panels, and other surfaces.</li>
<li><strong>Motion styles</strong> have been updated to match the latest Fluent styles.</li>
</ul>
<p>Note: this release is also <strong>backwards-compatible with 9.x classes</strong>, meaning it does not remove any existing class names. We recognize that most Fabric Core users are likely using these classes, so we've retained them in <code>.MDL2.scss</code> files. We will monitor their usage to see if it makes sense to remove them in the future.</p>
<h2 id="whatthisreleasedoesnotinclude">What this release does not include</h2>
<p>We aren't including the new Office App Icons in this release (#1162). We're still working on some details to release these soon, but in the meantime, we want to get the base Fluent styles out the door.</p>
<h2 id="whatisfluent">What is Fluent?</h2>
<p>Fluent is Microsoft's Design System, which includes the following principles:</p>
<ul>
<li>Adaptive: Experiences feel natural on each device</li>
<li>Empathetic: Experiences are intuitive and powerful</li>
<li>Beautiful: Experiences are engaging and immersive</li>
</ul>
<p>You can read more about these principles on the <a href="https://www.microsoft.com/design/fluent/">Fluent Design System website</a>.</p>
<h2 id="breakingchanges">Breaking Changes</h2>
<p>To cleanly support the new Fluent styles, the contents of some .scss files no longer include their MDL2 styles, e.g. <code>_Animation.scss</code>. Those have been moved to <code>*.MDL2.scss</code> files, e.g. <code>_Animation.MDL2.scss</code>. While this is not technically a breaking change if you're using Fabric.css, it will be breaking if you are using any of the MDL2 variables &amp; mixins from the below files in <code>9.x</code>.</p>
<p>9.x filename | 10.x filename
--- | ---
_Color.Variables.scss | _Color.Variables.MDL2.scss
_Font.Variables.scss | _Font.Variables.MDL2.scss
_Color.Mixins.scss | _Color.Mixins.MDL2.scss
_Font.Mixins.scss | _Font.Mixins.MDL2.scss
_Animation.scss | _Animation.MDL2.scss
_Font.scss | _Font.MDL2.scss</p>
<p>If you are consuming these .scss files directly downstream, you may need to switch to the MDL2 variants to include those classes in your compiled SCSS. To use the MDL2 variables and mixins, consider importing <code>dist/_References.scss</code>, which imports all Fluent and MDL2 .scss files.</p>
<h2 id="whatelseisnew">What else is new</h2>
<ul>
<li>#1144: Adds variable CDN path for icons and fonts (thanks @thornyweb!)</li>
</ul>
<h2 id="deprecated">Deprecated</h2>
<ul>
<li>The MDL2 styles are deprecated in the 10.x releases, but for backwards-compatibility will not be removed until a future date.</li>
</ul>
    </section>
</article>
