<article>
<header>
    <h1>Ink</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars.githubusercontent.com/u/13458?v&#x3D;3" alt="sapo">
  </div>
  <div class="media-body">
    <p>An HTML5/CSS3 framework used at SAPO for fast and efficient website design and prototyping</p>
    <p>Developed by Organization:sapo</p>
    <p><small>Used languages: JavaScript(3.88 MB), CSS(957.07 kB), HTML(389.89 kB), Groff(15.04 kB), PHP(1014.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/sapo/Ink" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://ink.sapo.pt" role="button" target="_blank">Visit Ink Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">
                        3.1.10
                </h2>
                <p class="card-text"><small>7.35 MB</small></p>
            </div>
        </div>
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">
                        August 6, 2015
                </h2>
                <p class="card-text"><small>Created at November 16, 2011</small></p>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">
                        April 7, 2016
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">
                        11
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">
                        280
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">
                        1,833
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">
                        153
                </h2>
            </div>
        </div>
    </div>
</div>


{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on August 6, 2015 for 3.1.10</small>
    </h1>
        <h2 id="js">JS</h2>
<ul>
<li>Ink.Dom.Browser no longer detects some IE11 mobile browsers as Safari</li>
<li>Fix a bug in Modal when <code>open()</code> is called with no arguments and there's an <code>onShow</code> callback present.</li>
<li>When a Carousel does not have a stage, the error message now makes some more sense than "a is not defined".</li>
<li>Do not crash with <code>&lt;option&gt;</code> elements in FormValidator_2</li>
<li>Do a better feature detection of the vh/vw units, for old IOS safari.</li>
<li>Fix SmoothScroller adding "active" classes in <code>&lt;li&gt;</code> elements, but never removing them</li>
</ul>
    </section>
</article>
