<div class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="65" height="65" src="https://avatars.githubusercontent.com/u/13458?v&#x3D;3" alt="sapo/Ink">
  </div>
  <div class="media-body">
    <p class="lead">An HTML5/CSS3 framework used at SAPO for fast and efficient website design and prototyping</p>
  </div>
</div>
<hr>  
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="text-xl-center">
      Available in
<span class="tag tag-pill tag-success">SASS</span>
  <span class="tag tag-pill tag-default">LESS</span>
<span class="tag tag-pill tag-success">JS</span>
</div>      
    </div>
    <div class="col-xs-12 col-sm-6">
     <div class="text-xl-center">
      Supports in
    <i class="fa fa-desktop fa-3x yes" aria-hidden="true"></i>
        <i class="fa fa-tablet fa-3x yes" aria-hidden="true"></i>
        <i class="fa fa-mobile fa-3x yes" aria-hidden="true"></i>
        </div>
    </div>
  </div>
<hr>
<div class="my-2 text-xl-center text-md-center">
    <a class="btn btn-primary" href="https://github.com/sapo/Ink" role="button" target="_blank">Visit Github page</a>
    <a class="btn btn-primary m-1" href="http://ink.sapo.pt" role="button" target="_blank">Visit Ink Page</a>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current Version</h4>
                <h2 class="card-title">
                        3.1.10
                </h2>
                <p class="card-text"><small>7.35 MB</small></p>
            </div>
        </div>
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                <h2 class="card-title">
                        August 6, 2015
                </h2>
                <p class="card-text"><small>Created at November 16, 2011</small></p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">
                        11
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">
                        278
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">
                        1,823
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">
                        154
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
    <section class="my-2">
    <h1>
        Release Notes <small>on August 6, 2015 for 3.1.10</small>
    </h1>
        <h2 id="js">JS</h2>
<ul>
<li>Ink.Dom.Browser no longer detects some IE11 mobile browsers as Safari</li>
<li>Fix a bug in Modal when <code>open()</code> is called with no arguments and there's an <code>onShow</code> callback present.</li>
<li>When a Carousel does not have a stage, the error message now makes some more sense than "a is not defined".</li>
<li>Do not crash with <code>&lt;option&gt;</code> elements in FormValidator_2</li>
<li>Do a better feature detection of the vh/vw units, for old IOS safari.</li>
<li>Fix SmoothScroller adding "active" classes in <code>&lt;li&gt;</code> elements, but never removing them</li>
</ul>
    </section>
