<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Jeet",
  "image" : "https://avatars3.githubusercontent.com/u/314035?v&#x3D;4",
  "url" : "http://jeet.gs",
  "author" : {
    "@type" : "Organization",
    "name" : "mojotech"
  },
  "datePublished" : "2017-09-05",
  "publisher" : {
    "@type" : "Organization",
    "name" : "mojotech"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/mojotech/jeet",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript, HTML",
  "softwareVersion" : "7.2.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "3066"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2018-10-22",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are grid"
  }
}
</script>


<header>
    <h1>Jeet</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars3.githubusercontent.com/u/314035?v&#x3D;4" alt="mojotech">
  </div>
  <div class="media-body">
    <p>The most advanced, yet intuitive, grid system available for Sass or Stylus</p>
    <p>Developed by Organization:mojotech</p>
    <p><small>Used languages: CSS(19.02 kB), JavaScript(707.00 bytes), HTML(286.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/mojotech/jeet" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://jeet.gs" role="button" target="_blank">Visit Jeet Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">grid</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">7.2.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">2017 M09 5</h2>
                <p class="card-text"><small>Created at 2012 M12 12</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">2017 M09 5
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">11</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">275</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">3,066</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">131</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on 2017 M09 5 for 7.2.0</small>
    </h1>
        <p>This release consists of the addition of PR #535, which adds a <code>$nth</code> parameter for <code>column</code> and <code>span</code> mixins.</p>
<p>Full set of changes for this release:</p>
<ul>
<li>Add <code>jeet.nth</code> parameter to settings (defaults to <code>child</code> for backwards-compatibility)</li>
<li>Add <code>nth</code> parameter to <code>column</code> and <code>span</code> mixins</li>
<li>Add <a href="https://github.com/mojotech/jeet/blob/master/docs/api.md">documentation</a> regarding the new parameter</li>
<li>Update stylus node test to show <code>nth</code> in use</li>
<li>Update sass playground to show <code>nth</code> in use</li>
</ul>
<p>Huge thanks to @filipekiss for this contribution!</p>
    </section>
</article>
