<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Material-UI",
  "image" : "https://avatars2.githubusercontent.com/u/33663932?v&#x3D;4",
  "url" : "http://www.material-ui.com",
  "author" : {
    "@type" : "Organization",
    "name" : "mui-org"
  },
  "datePublished" : "2018-01-22",
  "publisher" : {
    "@type" : "Organization",
    "name" : "mui-org"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/mui-org/material-ui",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "JavaScript, TypeScript, HTML, Shell",
  "softwareVersion" : "v0.20.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "32524"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2018-01-24",
    "reviewBody" : "Written in   Javascript This is frameworks design for material. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Material-UI</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/33663932?v&#x3D;4" alt="mui-org">
  </div>
  <div class="media-body">
    <p>React components that implement Google&#x27;s Material Design.</p>
    <p>Developed by Organization:mui-org</p>
    <p><small>Used languages: JavaScript(1.73 MB), TypeScript(27.24 kB), HTML(302.00 bytes), Shell(144.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/mui-org/material-ui" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://www.material-ui.com" role="button" target="_blank">Visit Material-UI Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-default">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:80%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">material</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<p>
  <a class="btn btn-lg btn-danger" data-toggle="collapse" href="#collapsePrerelease" aria-expanded="false" aria-controls="collapsePrerelease">
    Prerelease version available
  </a> 
  <a class="btn btn-danger" data-toggle="collapse" href="#collapsePrerelease" aria-expanded="false" aria-controls="collapsePrerelease">
    Show more
  </a>     
</p>
<div class="collapse" id="collapsePrerelease">
    <div class="card-deck-wrapper my-2">
        <div class="card-deck">
            <div class="card card-inverse sa-card-aqua text-xs-center">
                <div class="card-block">
                    <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Prerelease version</h4>
                    <h2 class="card-title">v1.0.0-beta.30</h2>
                </div>
            </div>
            <div class="card card-inverse sa-card-yellow text-xs-center">
                <div class="card-block">
                    <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                    <h2 class="card-title">2018 M01 22</h2>
                    <p class="card-text"><small>Created at 2018 M01 22</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v0.20.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">2017 M12 4</h2>
                <p class="card-text"><small>Created at 2014 M08 19</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">2018 M01 24
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">146</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">5,948</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">32,524</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">1,150</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on 2017 M12 4 for v0.20.0</small>
    </h1>
        <h6 id="_dec32017_"><em>Dec 3, 2017</em></h6>
<p>As usual, we are focusing on bug fixes but this time, we introduce an exceptional breaking change, 
consistent with the removal of <code>onTouchTap</code>for <code>onClick</code> in v0.19.0 (#7624).</p>
<p>Big thanks to the 10 contributors who made this release possible.</p>
<h3 id="breakingchange">Breaking Change</h3>
<ul>
<li>[core] Remove <code>TouchTap</code> in favor of <code>Click</code> throughout library and docs (#9058) @m2mathew</li>
</ul>
<p>You need to globally replace any references to <code>TouchTap</code> property callbacks with <code>Click</code>.</p>
<h4 id="componentfixesenhancements">Component Fixes / Enhancements</h4>
<ul>
<li>[AutoComplete] Fix undef dataSource.value (#8864) @michalmikolajczyk</li>
<li>[BottomNavigation] Allow <code>null</code> child (#8925) @MrSaints</li>
<li>[Menu] Use filtered children on setFocusIndexStartsWith (#9316) @alancasagrande</li>
<li>[Menu] Fix condition where item is removed from menu before it is used in focus calculation. (#8769) @zentron</li>
<li>[Slider] Fix Updating min and max props (#9261) @thomaskempel</li>
<li>[Slider] Fix slider being disabled onKeydown error (#9001) @henryj</li>
<li>[Stepper] Allow invalid children (#8634) @svengau</li>
</ul>
<h4 id="docs">Docs</h4>
<ul>
<li>[docs] Add FlyWeekend in showcase (#8812) @tjl9</li>
<li>[docs] Add a web app to the showcase (#8767) @maheshj567</li>
<li>[docs] Update Home h2 text to match v1 (#9060) @m2mathew</li>
</ul>
<h4 id="core">Core</h4>
<ul>
<li>[npm] Upgrade 'inline-style-prefixer' to 3.0.8 (#9320) @m2mathew</li>
<li>[RenderToLayer] Remove touchstart events, to prevent double call to onRequestClose (#9118) @midan888 </li>
</ul>
    </section>
</article>
