<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Material-UI",
  "image" : "https://avatars2.githubusercontent.com/u/33663932?v&#x3D;4",
  "url" : "https://material-ui.com/",
  "author" : {
    "@type" : "Organization",
    "name" : "mui-org"
  },
  "datePublished" : "2020-06-12",
  "publisher" : {
    "@type" : "Organization",
    "name" : "mui-org"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/mui-org/material-ui",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "JavaScript, TypeScript, HTML, Shell",
  "softwareVersion" : "v4.10.2",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "58439"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2020-06-20",
    "reviewBody" : "Written in   Javascript This is frameworks design for material. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Material-UI</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/33663932?v&#x3D;4" alt="mui-org">
  </div>
  <div class="media-body">
    <p>React components for faster and easier web development. Build your own design system, or start with Material Design.</p>
    <p>Developed by Organization:mui-org</p>
    <p><small>Used languages: JavaScript(4.70 MB), TypeScript(288.16 kB), HTML(594.00 bytes), Shell(144.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/mui-org/material-ui" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://material-ui.com/" role="button" target="_blank">Visit Material-UI Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-default">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:80%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">material</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v4.10.2</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Jun 12, 2020</h2>
                <p class="card-text"><small>Created at Aug 19, 2014</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jun 20, 2020
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">418</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">16,716</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">58,439</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">1,337</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on June 12, 2020 for v4.10.2</small>
    </h1>
        <h6 id="june112020"><em>June 11, 2020</em></h6>
<p>⚠️ This release marks the end of the active development on the v4.x versions, after 18 months of development.
We are moving all ongoing efforts to v5 (<code>next</code> branch) ✨.
This means a feature freeze on v4. The development of this version will be limited to important bug fixes, security patches, and easing the upgrade path to v5.</p>
<p>You can follow our progress on the <a href="https://github.com/mui-org/material-ui/milestone/35">v5 milestone</a>. We will make the documentation of the v5 alpha releases available under https://next.material-ui.com/, starting next week (weekly releases, as usual).</p>
<p>Big thanks to the 19 contributors who made this release possible. Here are some highlights ✨:</p>
<ul>
<li><p>Introduce a new Timeline component (#21331) @mnajdova.
<img width="244" alt="timeline" src="https://user-images.githubusercontent.com/3165635/84400961-ff381900-ac02-11ea-8e5e-beb6c0840fe0.png">
You can find the component in the <a href="http://material-ui.com/components/timeline/">lab</a>.</p></li>
<li><p>Simplify the theme overrides with TypeScript for the components in the lab (#21279) @CarsonF.</p>
<p>In order to benefit from the <a href="/customization/globals/#css">CSS overrides</a> with the theme and the lab components, TypeScript users need to import the following types. Internally, it uses <a href="/guides/typescript/#customization-of-theme">module augmentation</a> to extend the default theme structure with the extension components available in the lab.</p>
<pre><code class="tsx language-tsx">// 1. augment the theme
import type '@material-ui/lab/themeAugmentation';

// 2. override
const theme = createMuiTheme({
overrides: {
  MuiTimeline: {
    root: {
      backgroundColor: 'red',
    },
  },
},
});
</code></pre></li>
<li><p>Minify error messages in production (#21214) @eps1lon.</p>
<p>Using the <a href="https://reactjs.org/docs/error-decoder.html/">React error decoder</a> as inspiration, the exceptions thrown by Material-UI in production are now minified.
You will be redirected to the documentation to <a href="https://material-ui.com/production-error/?code=4&args%5B%5D=500">decode the error</a>.</p></li>
</ul>
<h3 id="materialuicorev4102"><code>@material-ui/core@v4.10.2</code></h3>
<ul>
<li>[Checkbox] Fix custom icon fontSize prop support (#21362) @kn1ves</li>
<li>[Dialog] Fix dialog children being announced as clickable (#21285) @eps1lon</li>
<li>[Select] Improve native validation, autofill, and testability (#21192) @netochaves</li>
<li>[Stepper] Always pass state props to connector (#21370) @baterson</li>
<li>[Stepper] Only render label container if a label exists (#21322) @Floriferous</li>
</ul>
<h3 id="materialuilabv400alpha56"><code>@material-ui/lab@v4.0.0-alpha.56</code></h3>
<ul>
<li>[Autocomplete] Fix scroll reset after unselect the only option (#21280) @svikhristyuk</li>
<li>[Autocomplete] Prevent default event for disabled options (#21390) @GregoryAndrievskiy</li>
<li>[SpeedDial] Improve tooltip work break (#21359) @SugiKent</li>
<li>[Timeline] Introduce new component (#21331) @mnajdova</li>
<li>[TypeScript] Allow lab components to have overrides in theme (#21279) @CarsonF</li>
</ul>
<h3 id="materialuiutilsv4102"><code>@material-ui/utils@v4.10.2</code></h3>
<ul>
<li>[core] Minify error messages in production (#21214) @eps1lon</li>
</ul>
<h3 id="docs">Docs</h3>
<ul>
<li>[docs] Add palette TypeScript override example (#21319) @WillSquire</li>
<li>[docs] Always consider code as left-to-right (#21386) @eps1lon</li>
<li>[docs] Correct the name of a prop in the Table docs (#21384) @fedde-s</li>
<li>[docs] Improve CONTRIBUTING.md (#21303) @pedrooa</li>
<li>[docs] Improve ad display (#21246) @oliviertassinari</li>
<li>[docs] Improve legibility of required star (#21369) @eps1lon</li>
<li>[docs] List all the Tab components under the API section (#21241) @emretapci</li>
<li>[docs] Move more prop docs into IntelliSense (#21002) @eps1lon</li>
<li>[docs] Move more prop docs into IntelliSense (#21368) @eps1lon</li>
<li>[docs] Move more prop docs into IntelliSense (#21375) @eps1lon</li>
<li>[docs] Sync translations (#21336) @oliviertassinari</li>
<li>[docs] Update builderbook.org image in showcase (#21360) @klyburke</li>
<li>[docs] Update builderbook.org showcase (#21274) @klyburke</li>
<li>[docs] Update minimum TypeScript version to 3.2 (#21197) @NMinhNguyen</li>
<li>[docs] Use rem in responsive font sizes chart (#21373) @thewidgetsmith</li>
</ul>
<h3 id="core">Core</h3>
<ul>
<li>[test] Speed up slow TablePagination tests (#21374) @eps1lon</li>
<li>[test] Type-test event handlers on ListItem (#21298) @eps1lon</li>
<li>[core] Batch small changes (#21335) @oliviertassinari</li>
<li>[core] Don't ship type tests (#21300) @eps1lon</li>
<li>[core] Minify error messages in production (#21214) @eps1lon</li>
<li>[core] Switch from <code>$ExpectError</code> to <code>@ts-expect-error</code> (#21308) @eps1lon</li>
<li>[core] Use custom $ExpectType assertion (#21309) @eps1lon</li>
</ul>
    </section>
</article>
