<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Material Design Lite",
  "image" : "https://avatars2.githubusercontent.com/u/1342004?v&#x3D;3",
  "url" : "http://getmdl.io",
  "author" : {
    "@type" : "Organization",
    "name" : "google"
  },
  "datePublished" : "2016-12-21",
  "publisher" : {
    "@type" : "Organization",
    "name" : "google"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/google/material-design-lite",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "HTML, CSS, JavaScript",
  "softwareVersion" : "v1.3.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "27644"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-06-13",
    "reviewBody" : "Written in Sass  Javascript. Very good build in templates are available. This is frameworks design for material. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Material Design Lite</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/1342004?v&#x3D;3" alt="google">
  </div>
  <div class="media-body">
    <p>Material Design Components in HTML/CSS/JS</p>
    <p>Developed by Organization:google</p>
    <p><small>Used languages: HTML(283.02 kB), CSS(264.31 kB), JavaScript(223.56 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/google/material-design-lite" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://getmdl.io" role="button" target="_blank">Visit Material Design Lite Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">material</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v1.3.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Dec 21, 2016</h2>
                <p class="card-text"><small>Created at Jan 15, 2015</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Apr 26, 2017
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">315</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">4,744</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">27,644</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">1,344</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on December 21, 2016 for v1.3.0</small>
    </h1>
        <p>MDL v1.3 adds some fixes that have been committed since 1.2.1, as well as a new feature.</p>
<h2 id="newpreventautomaticupgrading">New: prevent automatic upgrading</h2>
<p>@AlexanderOtavka <a href="https://github.com/google/material-design-lite/commit/ef69a4a666b8335f52ecc09d88f86d09da24c67b">added the ability to disable auto-upgrading</a>! This is useful if you want to manage the component lifecycle yourself, such as if you're integrating with a framework.</p>
<p>In order to do this, register an event listener for the <code>mdl-componentupgrading</code> event. Once you receive an event, you can choose whether or not to cancel it, giving you control on a per-component basis.</p>
<h2 id="bugfixesandimprovements">Bug fixes and improvements</h2>
<ul>
<li>@chajath <a href="https://github.com/google/material-design-lite/commit/b353f83e09769bdaafc2c2377d8b09e5450b1f5e">added an option to disable JS layout switching</a></li>
<li>@MitchLillie <a href="https://github.com/google/material-design-lite/commit/14b6cb1c52c32009427110c9da130e9ae7eac895">improved tab handling to allow more types of links</a></li>
<li>@leocaseiro added the <code>mdl-card--border</code> option to <code>mdl-card__supporting-text</code>(https://github.com/google/material-design-lite/commit/4ee5202c6c934096ad8edfe7eb94fc29f133e42d)</li>
<li>@enniel fixed a bug with spinners and some documentation typos</li>
<li>@pndewit fixed a bug with vertical alignment in radios</li>
<li>@ko22009 fixed several unit tests</li>
<li>@hanyuzhou2006 fixed a bug in ripples</li>
<li>@Abradoks improved support for older browsers in radios</li>
</ul>
<p>Thank you to all the contributors, and sorry if I missed anyone above!</p>
<h2 id="mdcwebandplansforthefuture">MDC-Web and plans for the future</h2>
<p>As you may have noticed, an alpha for <a href="https://github.com/material-components/material-components-web">Material Components for the web</a> (MDC-Web) was recently released. </p>
<p>MDC-Web started life as version 2 of Material Design Lite, but has since evolved into a project of its own, with a broader team and a strong focus on providing a high-quality Material Design implementation for all of the web.</p>
<p>Here are some of the highlights of what you can expect:</p>
<ul>
<li>Modular components, served as independent NPM packages (as well as a large all-in-one meta-package)</li>
<li>Manual lifecycle control, with an opt-in auto-init option</li>
<li>Stronger focus on progressive enhancement, performance, and accessibility</li>
<li>Internals built with low-level architecture to facilitate integration into frameworks</li>
<li>Still fully vanilla: no polyfills or frameworks needed</li>
</ul>
<p>The project is still in its alpha stage, so expect to find a lot of missing components, and to see significant churn as we make changes based on your feedback!</p>
<h3 id="whathappenstomaterialdesignlite">What happens to Material Design Lite?</h3>
<p>Material Design Lite (v1) will remain available, with limited support. We don’t have the resources to fully maintain both projects, so we won’t be doing any further development on MDL ourselves.</p>
<p>That said, we’ll do our best to be around to fix critical bugs and accept PRs from the community, as well as release those in new versions. This model has worked well ever since we started the v2 work that eventually resulted in MDC-Web, with new components, new features, and many bugfixes contributed since then.</p>
<p>With this approach, we plan to give developers time to migrate to MDC-Web as the project matures and the community grows.</p>
<p><a href="https://github.com/google/material-design-lite/compare/7f57f99436d8705393a7f39c2bcc69410c5ca033...745f2dd25b6bfe45297b41ac23bea5a3001f7def">Full 1.3.0 changelist</a>.</p>
<blockquote>
  <p><strong>Downloads:</strong></p>
  <p><a href="https://github.com/google/material-design-lite/archive/v1.3.0.zip">material-design-lite-1.3.0.zip</a>
  MD5: c6ec30e0470491e58ad2c69aefcbfce9
  SHA1: 123dd0c30b2aa03fc37ae8216276547461dd115c
  SHA256: ce746c6483c357da5642915c38b01b03d124c37565855b6f60b7d87e74228fea</p>
  <p><a href="https://github.com/google/material-design-lite/archive/v1.3.0.tar.gz">material-design-lite-1.3.0.tar.gz</a>
  MD5: 18201311fc4c71b581ca717f4ead3992
  SHA1: 3aff5e0ec9e31ad1a8e57e9365c7ac113f1d6def
  SHA256: 4b4ab9845dba0e6a6fda172d69aff6da72c3e429dc1f3d30fa0935d315f40cb6</p>
</blockquote>
    </section>
</article>
