<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Material-UI",
  "image" : "https://avatars2.githubusercontent.com/u/33663932?v&#x3D;4",
  "url" : "https://material-ui.com/",
  "author" : {
    "@type" : "Organization",
    "name" : "mui-org"
  },
  "datePublished" : "2019-01-15",
  "publisher" : {
    "@type" : "Organization",
    "name" : "mui-org"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/mui-org/material-ui",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "JavaScript, TypeScript, HTML, Shell",
  "softwareVersion" : "v3.9.0",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "43609"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2019-01-16",
    "reviewBody" : "Written in   Javascript This is frameworks design for material. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Material-UI</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/33663932?v&#x3D;4" alt="mui-org">
  </div>
  <div class="media-body">
    <p>React components that implement Google&#x27;s Material Design.</p>
    <p>Developed by Organization:mui-org</p>
    <p><small>Used languages: JavaScript(4.07 MB), TypeScript(55.31 kB), HTML(302.00 bytes), Shell(144.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/mui-org/material-ui" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://material-ui.com/" role="button" target="_blank">Visit Material-UI Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-default">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:80%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">material</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v3.9.0</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Jan 15, 2019</h2>
                <p class="card-text"><small>Created at Aug 19, 2014</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jan 16, 2019
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">295</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">8,786</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">43,609</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">1,325</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on January 15, 2019 for v3.9.0</small>
    </h1>
        <h6 id="jan142019"><em>Jan 14, 2019</em></h6>
<p>Big thanks to the 17 contributors who made this release possible!</p>
<p>Here are some highlights ✨:</p>
<ul>
<li>💄 Add a new Link component (#14093) @joshwooding</li>
<li>💄 Important update of the Badge component (#14121) @joshwooding</li>
<li>And many more 🐛 bug fixes and 📝 documentation improvements.</li>
</ul>
<h3 id="materialuicorev390"><code>@material-ui/core@v3.9.0</code></h3>
<ul>
<li>[ButtonBase] Reduce keyup timeout interval to 500ms (#14120) @rfbotto</li>
<li>[InputAdornment] Add disablePointerEvents prop (#14123) @rfbotto</li>
<li>[Chip] Fix wrong font color for default variant with secondary color (#14125) @bjm904</li>
<li>[IconButton] Warn when providing onClick to a child of a button (#14160) @oliviertassinari</li>
<li>[Link] Refinement (#14162) @oliviertassinari</li>
<li>[Modal] Change keydown handling to use synthetic event (#14134) @rfbotto</li>
<li>[Badge] Give Badge dynamic width and other improvements (#14121) @joshwooding</li>
</ul>
<h3 id="materialuistylesv300alpha8"><code>@material-ui/styles@v3.0.0-alpha.8</code></h3>
<ul>
<li>[styles] Add test case for class extension with classes prop (#14127) @eps1lon</li>
<li>[styles] Document the CSS prefixing strategy on the server (#14139) @eps1lon</li>
<li>[styles] Add missing dependency hoist-non-react-statics (#14164) @joglr</li>
</ul>
<h3 id="docs">Docs</h3>
<ul>
<li>[docs] Fix select multiple prop description (#13923) @AkselsLedins</li>
<li>[docs] Reduce by /50 the website traffic (#14122) @oliviertassinari</li>
<li>[docs] Handle the exactProp usage in the API generation (#14130) @tallpants</li>
<li>[docs] Fix minor wording/typo issues (#14142) @eps1lon</li>
<li>[docs] Add gadr.io in the showcase (#14128) @clabbeaf</li>
<li>[docs] Fix deprecated Typography variants warning in demos (#14156) @joshwooding</li>
<li>[docs] Add 5 sites to Showcase, simplify image paths (#14154) @mbrookes</li>
<li>[docs] Add polyfill suggestion to ButtonBase (#14158) @ianschmitz</li>
<li>[docs] Add a new site to showcase (#14163) @ValleyZw</li>
<li>[docs] Update Tooltip info on prop spread (#14165) @e-x-wilson</li>
<li>[docs] Fix typo in click-anyway-listener-zh.md (#14118) @Wu-Qijun</li>
<li>[docs] Update example projects with Material Sense (#14168) @alexanmtz</li>
<li>[docs] Icon name consistency (#14171) @harvey56</li>
<li>[docs] Add notes about next branch (#14151) @eps1lon</li>
<li>[docs] Add Yakaz to homepage, backers &amp; readme (#14180) @mbrookes</li>
</ul>
<h3 id="core">Core</h3>
<ul>
<li>[core] Remove unnecessary plugins in .eslintrc (#14161) @WebDeg-Brian</li>
<li>[core] Fix the CDN release (#14172) @oliviertassinari</li>
<li>[core] Remove unnecessary rules in .eslintrc (#14173) @WebDeg-Brian</li>
</ul>
    </section>
</article>
