<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Metro UI CSS",
  "image" : "https://avatars3.githubusercontent.com/u/365108?v&#x3D;4",
  "url" : "http://metroui.org.ua/",
  "author" : {
    "@type" : "Person",
    "name" : "olton"
  },
  "datePublished" : "2019-04-13",
  "publisher" : {
    "@type" : "Person",
    "name" : "olton"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/olton/Metro-UI-CSS",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript, PHP",
  "softwareVersion" : "v4.2.40",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "6088"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2019-04-16",
    "reviewBody" : "Written in  Less Javascript This is frameworks design for plain, metro. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Metro UI CSS</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars3.githubusercontent.com/u/365108?v&#x3D;4" alt="olton">
  </div>
  <div class="media-body">
    <p>Build responsive, mobile-first projects on the web with the first front-end component library in Metro Style and not only.</p>
    <p>Developed by User:olton</p>
    <p><small>Used languages: CSS(2.54 MB), JavaScript(1.53 MB), PHP(1.05 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/olton/Metro-UI-CSS" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://metroui.org.ua/" role="button" target="_blank">Visit Metro UI CSS Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-default">Sass</span>
                      <span class="tag tag-pill tag-success">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span>, <span class="text-capitalize">metro</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v4.2.40</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Apr 13, 2019</h2>
                <p class="card-text"><small>Created at Mar 9, 2012</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Apr 13, 2019
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">15</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">1,955</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">6,088</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">585</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on April 13, 2019 for v4.2.40</small>
    </h1>
        <h3 id="4240">4.2.40</h3>
<ul>
<li>[x] Chat: new component</li>
<li>[x] Boxes: add new boxes <code>skill-box</code>, <code>social-box</code>, <code>more-info-box</code></li>
<li>[x] NavView: add behavior for show submenu on left from main menu for compacted mode</li>
<li>[x] Cards: add default background color <code>white</code></li>
<li>[x] Cards: fix flex model for image header</li>
<li>[x] Colors: change <code>op-*</code> alpha value from <code>0.7</code> to <code>0.1</code></li>
<li>[x] Dropdown: if element has class <code>open</code>, it will be open after initialization</li>
<li>[x] Show metro4 about in console: added meta parameter <code>metro4:about</code>. Thanks to <a href="https://github.com/kens-code">Ken Kitay</a></li>
<li>[x] Metro4 Events: added constants <code>Metro.events.startAll</code>, <code>Metro.events.stopAll</code>, <code>Metro.events.moveAll</code>. Constants contains both mouse and touch.</li>
<li>[x] Clock: upd component, PR #1341, Thanks to <a href="https://github.com/kens-code">Ken Kitay</a></li>
<li>[x] Sidenav simple: optimize css</li>
<li>[x] Sidenav counter: optimize css</li>
<li>[x] File: call trigger <code>change</code> when user drop files into drop area</li>
<li>[x] Form: Add default styling for <code>input[type=submit]</code>, <code>input[type=reset]</code>, <code>input[type=button]</code>.   </li>
<li>[x] Rating: add half value for static with attribute <code>data-half="true"</code></li>
<li>[x] Headlines: add <code>margin-top</code> to <code>display*</code>, <code>h1-h5</code> and <code>.h1-.h5</code></li>
<li>[x] Panel: add <code>text-ellipsis</code> to <code>caption</code></li>
<li>[x] Table: add methods: <code>updateItem(key, field, value)</code>, <code>getIndex()</code>, <code>rebuildIndex()</code>, <code>getItem(key)</code></li>
<li>[x] Table: store item data in row. Now you can use <code>tr.data('original')</code> to get table row original data</li>
<li>[x] Table: store cell data in cell. Now you can use <code>td.data('original')</code> to get cell original data</li>
<li>[x] Table: fix incorrect work service radio buttons</li>
<li>[x] Select: remove <code>margin-bottom</code></li>
<li>[x] Blockquote: rename class <code>place-right</code> to <code>right-side</code> for right side quote</li>
<li>[x] Lists: fix list style position for ordered list</li>
<li>[x] Dropdown: add service class <code>stay-open</code>. When an element has this class, an element can't be closed when the user clicks on the document.</li>
<li>[x] Collapse: change default animation duration to <code>100ms</code></li>
<li>[x] Tiles: set cover default position to <code>center center</code></li>
<li>[x] Tiles: add attribute for image slide <code>data-cover-position</code></li>
<li>[x] Timepicker: set default value for <code>data-scroll-speed</code> to <code>1</code></li>
<li>[x] Datepicker: set default value for <code>data-scroll-speed</code> to <code>1</code></li>
<li>[x] Countdown: change behavior when browser tab lost focus or invisible</li>
<li>[x] Countdown: fix zoom effect</li>
<li>[x] Countdown: fix minor bug when first tick (not critical)</li>
<li>[x] Dialog: change padding for dialog title to <code>12px 24px</code></li>
<li>[x] Dialog: add predefined accent classes <code>primary</code>, <code>alert</code>, <code>info</code>, <code>warning</code>, …</li>
<li>[x] InfoBox: add predefined accent classes <code>primary</code>, <code>alert</code>, <code>info</code>, <code>warning</code>, …</li>
<li>[x] Elements colors: optimize less for using <code>each</code> function</li>
<li>[x] Additional colors: optimize less for using <code>each</code> function</li>
<li>[x] Element: add class <code>.accent-block</code> for using with accent colors classes <code>primary</code>, <code>alert</code>, <code>info</code>, <code>warning</code>, …</li>
<li>[x] Dialog: add close button to top left corner with attribute <code>data-close-button</code></li>
<li>[x] Video: fix show/hide controls when mouse enter leave</li>
<li>[x] Video: fix show controls in full screen mode with attribute <code>data-full-screen-mode="desktop"</code></li>
<li>[x] Draggable: fix minor bug for draggable windows</li>
<li>[x] Sidenav M3: fix item height with text overflow</li>
<li>[x] Sidenav M3: remove floating for <code>d-menu</code></li>
<li>[x] Dropdown: add attribute <code>data-drop-filter</code>. Filtering elements on closing.</li>
<li>[x] Select: Opening a select now closes only other selects.</li>
<li>[x] Accordion: add drop marker. Marker can disabled with attribute <code>data-show-marker="false"</code></li>
<li>[x] Accordion: fix frames open on accordion init</li>
</ul>
    </section>
</article>
