<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Metro UI CSS",
  "image" : "https://avatars3.githubusercontent.com/u/365108?v&#x3D;4",
  "url" : "http://metroui.org.ua/",
  "author" : {
    "@type" : "Person",
    "name" : "olton"
  },
  "datePublished" : "2020-01-14",
  "publisher" : {
    "@type" : "Person",
    "name" : "olton"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/olton/Metro-UI-CSS",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript, HTML, PHP",
  "softwareVersion" : "v4.3.5",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "6440"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2020-01-24",
    "reviewBody" : "Written in  Less Javascript This is frameworks design for plain, metro. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Metro UI CSS</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars3.githubusercontent.com/u/365108?v&#x3D;4" alt="olton">
  </div>
  <div class="media-body">
    <p>Build responsive, mobile-first projects on the web with the first front-end component library in Metro Style and not only.</p>
    <p>Developed by User:olton</p>
    <p><small>Used languages: CSS(4.98 MB), JavaScript(2.85 MB), HTML(23.01 kB), PHP(1.05 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/olton/Metro-UI-CSS" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://metroui.org.ua/" role="button" target="_blank">Visit Metro UI CSS Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-default">Sass</span>
                      <span class="tag tag-pill tag-success">Less</span>
                      <span class="tag tag-pill tag-success">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span>, <span class="text-capitalize">metro</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v4.3.5</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Jan 14, 2020</h2>
                <p class="card-text"><small>Created at Mar 9, 2012</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Jan 14, 2020
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">12</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">2,001</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">6,440</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">576</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on January 14, 2020 for v4.3.5</small>
    </h1>
        <h3 id="435">4.3.5</h3>
<h5 id="m4q">M4Q</h5>
<ul>
<li>[x] M4Q: upd to <code>1.0.5</code></li>
<li>[x] M4Q Events: fix firing events, Metro 4 issue #1476</li>
<li>[x] M4Q Events: optimize method <code>trigger</code>, now this is a synonym of <code>fire</code></li>
</ul>
<h5 id="metro4">Metro 4</h5>
<ul>
<li>[x] Tag input: change <code>trigger</code> defining </li>
<li>[x] Tag input: add <code>clear button</code> with attributes <code>clearButton</code>, <code>clsClearButton</code>, <code>clearButtonIcon</code>  </li>
<li>[x] Tag input: add attributes <code>clsComponent</code>, <code>clsInput</code>  </li>
<li>[x] Tag input: add event <code>onClear</code>  </li>
<li>[x] List: add attribute <code>data-sort-initial</code> to sorts on create component, issue #1475</li>
<li>[x] Tag input: add attribute <code>data-static</code> and static mode for <code>data-static='true'</code> or if present attribute <code>readonly</code></li>
<li>[x] Tag input: add method <code>toggleStatic([true|false])</code></li>
<li>[x] Select: fix clearing <code>select-input</code>, issue #1477</li>
<li>[x] Calendar picker: fix closing calendar when user click on overlay, issue #1478</li>
<li>[x] Select: fix styles for <code>input-large</code>, <code>input-small</code> classes</li>
<li>[x] Tag input: change <code>keyup</code> to <code>keydown</code> for tag trigger event</li>
<li>[x] Tag input: add event <code>onTagTrigger</code>  </li>
<li>[x] Tag input: add removing last tag on current value is empty end user press <code>Backspace</code>, you can disable it with attribute <code>data-backspace='false'</code></li>
<li>[x] Draggable: add attribute <code>data-timeout</code> for set timeout before creating component</li>
<li>[x] Components: creating components can be deferred with attribute <code>data-[componentName]-deferred=[ms]</code>. Example: <code>&lt;div data-role='draggable' data-draggable-deferred='2000'&gt;...&lt;/div&gt;</code></li>
<li>[x] Counter: add attribute <code>data-start-on-viewport</code>. If attribute value is <code>true</code>, counter started after element showed in viewport. You can combine this with <code>data-timeout</code></li>
<li>[x] Select: fix bug with <code>data-filter='false'</code> </li>
<li>[x] File: fix method <code>clear</code> for mode <code>dropzone</code></li>
<li>[x] Select: add mode <code>button</code></li>
</ul>
    </section>
</article>
