 <div class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="65" height="65" src="https://avatars.githubusercontent.com/u/7349178?v&#x3D;3" alt="mi-dexigner/mi-grid">
  </div>
  <div class="media-body">
    <p class="lead">MI GRID SYSTEM is one the most supportable framework for those who are passionate and professional about Web Designing can do a more efficient creativity using this framework.</p>
  </div>
</div>
<hr>  
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="text-xl-center">
      Available in
  <span class="tag tag-pill tag-default">SASS</span>
  <span class="tag tag-pill tag-default">LESS</span>
<span class="tag tag-pill tag-success">JS</span>
</div>      
    </div>
    <div class="col-xs-12 col-sm-6">
     <div class="text-xl-center">
      Supports in
    <i class="fa fa-desktop fa-3x yes" aria-hidden="true"></i>
        <i class="fa fa-tablet fa-3x yes" aria-hidden="true"></i>
        <i class="fa fa-mobile fa-3x yes" aria-hidden="true"></i>
        </div>
    </div>
  </div>
<hr>
<div class="my-2 text-xs-center">
    <a class="btn btn-primary" href="https://github.com/mi-dexigner/mi-grid" role="button" target="_blank">Visit Github page</a>
    <a class="btn btn-primary m-1" href="" role="button" target="_blank">Visit mi-grid Page</a>
    <span class="tag tag-info">User Project</span>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current Version</h4>
                <h2 class="card-title">
                        -NA-
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                <h2 class="card-title">
                    -NA-
                </h2>
                <p class="card-text"><small>Created at March 1, 2016</small></p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">
                    -NA-
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">
                    -NA-
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">
                    -NA-
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">
                        1
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
