<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "mini.css",
  "image" : "https://avatars2.githubusercontent.com/u/8281875?v&#x3D;4",
  "url" : "http://minicss.org/",
  "author" : {
    "@type" : "Person",
    "name" : "Chalarangelo"
  },
  "datePublished" : "2017-08-16",
  "publisher" : {
    "@type" : "Person",
    "name" : "Chalarangelo"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/Chalarangelo/mini.css",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS",
  "softwareVersion" : "v2.3.4",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "1846"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-08-17",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>mini.css</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/8281875?v&#x3D;4" alt="Chalarangelo">
  </div>
  <div class="media-body">
    <p>A minimal, responsive, style-agnostic CSS framework!</p>
    <p>Developed by User:Chalarangelo</p>
    <p><small>Used languages: CSS(446.34 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/Chalarangelo/mini.css" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://minicss.org/" role="button" target="_blank">Visit mini.css Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v2.3.4</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Aug 16, 2017</h2>
                <p class="card-text"><small>Created at Aug 22, 2016</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Aug 16, 2017
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">1</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">62</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">1,846</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">54</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on August 16, 2017 for v2.3.4</small>
    </h1>
        <p>The <strong>v2.3.4</strong> is a hotfix, resolving certain minor issues and applying some updates to the documentation.</p>
<p><img src="/docs/page_thumb.png" alt="Logo" /></p>
<h2 id="changes">Changes</h2>
<ul>
<li>Fixed an edge-case that could cause trouble with <code>&lt;header&gt;</code> elements (#94).</li>
<li>Fixes some issues in the documentation (#92, #93).</li>
<li>Added some more specificity to the custom styling for <code>&lt;select&gt;</code> elements.</li>
</ul>
    </section>
</article>
