<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Motus",
  "image" : "https://avatars.githubusercontent.com/u/15819353?v&#x3D;3",
  "url" : "http://resources.ludvig.xyz/motus",
  "author" : {
    "@type" : "Person",
    "name" : "ludvigbruchmann"
  },
  "datePublished" : "2016-05-11",
  "publisher" : {
    "@type" : "Person",
    "name" : "ludvigbruchmann"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/ludvigbruchmann/motus",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, HTML, JavaScript",
  "softwareVersion" : "1.3",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "1"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-01-19",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are grid"
  }
}
</script>


<header>
    <h1>Motus</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars.githubusercontent.com/u/15819353?v&#x3D;3" alt="ludvigbruchmann">
  </div>
  <div class="media-body">
    <p>Sass/css lightweight framework, built for speed and perfomance!</p>
    <p>Developed by User:ludvigbruchmann</p>
    <p><small>Used languages: CSS(11.80 kB), HTML(1.01 kB), JavaScript(598.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/ludvigbruchmann/motus" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://resources.ludvig.xyz/motus" role="button" target="_blank">Visit Motus Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:20%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">grid</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">1.3</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">May 11, 2016</h2>
                <p class="card-text"><small>Created at Dec 13, 2015</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Nov 16, 2016
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">-NA-</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">-NA-</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">1</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">1</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on May 11, 2016 for 1.3</small>
    </h1>
        <p>Release highlights:</p>
<ul>
<li>New <code>offset-#{$i}</code> class for offsetting grids without using additional empty columns.</li>
<li>Disabled state for buttons</li>
<li>Added labels</li>
<li>Added pagination</li>
<li>Added more popup variations <em>(requires motus.js)</em></li>
</ul>
    </section>
</article>
