<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Pure CSS",
  "image" : "https://avatars2.githubusercontent.com/u/16574?v&#x3D;3",
  "url" : "http://purecss.io/",
  "author" : {
    "@type" : "Organization",
    "name" : "yahoo"
  },
  "datePublished" : "2017-01-07",
  "publisher" : {
    "@type" : "Organization",
    "name" : "yahoo"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/yahoo/pure",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "HTML, CSS, JavaScript",
  "softwareVersion" : "v0.6.2",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "16377"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2017-04-13",
    "reviewBody" : "Written in   . Very good build in templates are available. This is frameworks design for plain. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Pure CSS</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars2.githubusercontent.com/u/16574?v&#x3D;3" alt="yahoo">
  </div>
  <div class="media-body">
    <p>A set of small, responsive CSS modules that you can use in every web project.</p>
    <p>Developed by Organization:yahoo</p>
    <p><small>Used languages: HTML(60.13 kB), CSS(20.35 kB), JavaScript(10.67 kB)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/yahoo/pure" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://purecss.io/" role="button" target="_blank">Visit Pure CSS Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-default">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:100%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v0.6.2</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">Jan 7, 2017</h2>
                <p class="card-text"><small>Created at Apr 22, 2013</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">Mar 22, 2017
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">43</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">1,878</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">16,377</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">794</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on January 7, 2017 for v0.6.2</small>
    </h1>
        <ul>
<li>Added proper module API for node users [#619]</li>
</ul>
<h3 id="buttons">Buttons</h3>
<ul>
<li>Added Button Groups to Pure [#621]</li>
</ul>
<h3 id="menus">Menus</h3>
<ul>
<li>Reset style for horizontal dropdown separator [#620]</li>
</ul>
    </section>
</article>
