<header>
    <h1>Responsive <small><span class="tag tag-pill tag-default">Organization Project</span></small></h1>
</header>
<div class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="65" height="65" src="https://avatars.githubusercontent.com/u/6408672?v&#x3D;3" alt="ResponsiveBP/Responsive">
  </div>
  <div class="media-body">
    <p class="lead">:iphone: A super lightweight HTML, Sass, CSS, and JavaScript framework for building responsive websites</p>
  </div>
</div>
<hr>
<div class="my-2 text-xs-center">
    <a class="btn btn-primary" href="https://github.com/ResponsiveBP/Responsive" role="button" target="_blank">Visit Github page</a>
    <a class="btn btn-primary m-1" href="http://responsivebp.com" role="button" target="_blank">Visit Responsive Page</a>    
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current Version</h4>
                <h2 class="card-title">
                        4.1.3
                </h2>
                <p class="card-text"><small>82.25 kB</small></p>
            </div>
        </div>
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                <h2 class="card-title">
                        August 28, 2016
                </h2>
                <p class="card-text"><small>Created at June 12, 2013</small></p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">
                        7
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">
                        99
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">
                        622
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">
                        46
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
    <section class="my-2">
    <h1>
        Release Notes <small>on August 28, 2016 for 4.1.3</small>
    </h1>
        <h1 id="bugfixrelease">Bugfix Release</h1>
<ul>
<li>Fixed support for jQuery 3+</li>
</ul>
    </section>
