<p>Semantic-UI's Pug source code!</p><p>2.2.6 tagname</p><section><p><strong>Bugs</strong></p>
<h3 id="version2256october272016">Version 2.2.5-6 - October, 27, 2016</h3>
<p><strong>Bugs</strong></p>
<ul>
<li><strong>Tab</strong> - Hotfix for accidental use of ES6 <code>let</code>. This is cause of the bump to <code>2.2.6</code></li>
<li><strong>Search</strong> - Fixed issue where pressing "up" key when no results selected would cause bottom result to be selected</li>
<li><strong>Search</strong> - Fixed issue where input may attempt to refocus when search element is immediately removed from browser's DOM after a result is clicked.</li>
<li><strong>Flat Theme</strong> - Fixes inverted input color</li>
</ul></section>