<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Siimple",
  "image" : "https://avatars1.githubusercontent.com/u/15037629?v&#x3D;4",
  "url" : "http://www.siimple.xyz",
  "author" : {
    "@type" : "Organization",
    "name" : "siimple"
  },
  "datePublished" : "2018-08-04",
  "publisher" : {
    "@type" : "Organization",
    "name" : "siimple"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/siimple/siimple",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, HTML, Makefile, JavaScript",
  "softwareVersion" : "v3.1.1",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "364"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2018-10-08",
    "reviewBody" : "Written in Sass   This is frameworks design for plain. This framework Feature types are prototype"
  }
}
</script>


<header>
    <h1>Siimple</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars1.githubusercontent.com/u/15037629?v&#x3D;4" alt="siimple">
  </div>
  <div class="media-body">
    <p>Minimal and responsive CSS Framework for flat and clean designs.</p>
    <p>Developed by Organization:siimple</p>
    <p><small>Used languages: CSS(82.50 kB), HTML(33.85 kB), Makefile(2.56 kB), JavaScript(753.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/siimple/siimple" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="http://www.siimple.xyz" role="button" target="_blank">Visit Siimple Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-success">Sass</span>
                      <span class="tag tag-pill tag-default">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>                      <span class="no"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">prototype</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v3.1.1</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">2018 M08 4</h2>
                <p class="card-text"><small>Created at 2015 M07 12</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">2018 M08 21
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">2</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">53</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">364</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">23</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on 2018 M08 4 for v3.1.1</small>
    </h1>
        <h2 id="v311august42018">v3.1.1 (August 4, 2018)</h2>
<h3 id="improvements">Improvements</h3>
<ul>
<li>Import <strong>semi-bold</strong> style of <a href="https://fonts.google.com/specimen/Montserrat">Montserrat font</a>.</li>
<li>Changed <strong>headings</strong>  <code>font-weight</code> to <strong>semi-bold</strong>.</li>
<li>Changed <strong>success</strong> base color.</li>
<li>Changed <strong>blockquote</strong> <code>padding-top</code> and <code>padding-bottom</code> values.</li>
<li>Now we are using our custom <a href="https://github.com/siimple/theme">Jekyll theme</a> for the documentation.</li>
</ul>
<h3 id="bugfixes">Bug fixes</h3>
<ul>
<li>Fixed bug when <strong>list-item</strong> is a link.</li>
<li>Fixed <strong>input</strong> size too wide when the <code>siimple-input--fluid</code> modifier is used (thanks to @andreashouben in #45).</li>
<li>Fixed typo in <strong>README</strong> (thanks to @jdriviere in #46).</li>
</ul>
    </section>
</article>
