<article>
<header>
    <h1>Turret <small><span class="tag tag-pill tag-default">Organization Project</span></small></h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="65" height="65" src="https://avatars.githubusercontent.com/u/6046577?v&#x3D;3" alt="bigfishtv/turret">
  </div>
  <div class="media-body">
    <p class="lead">Turret is a styles and browser behaviour normalisation framework for rapid development of responsive and accessible websites.</p>
  </div>
</section>
<hr>
<div class="my-2 text-xs-center">
    <a class="btn btn-primary" href="https://github.com/bigfishtv/turret" role="button" target="_blank">Visit Github page</a>
    <a class="btn btn-primary m-1" href="http://turretcss.com/" role="button" target="_blank">Visit Turret Page</a>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current Version</h4>
                <h2 class="card-title">
                        v3.3.1
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last Release</h4>
                <h2 class="card-title">
                        April 5, 2016
                </h2>
                <p class="card-text"><small>Created at January 29, 2015</small></p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">
                    -NA-
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">
                        23
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">
                        262
                </h2>
            </div>
        </div>
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">
                        18
                </h2>
            </div>
        </div>
    </div>
</div>


{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on April 5, 2016 for v3.3.1</small>
    </h1>
        <h2 id="fixes">Fixes</h2>
<ul>
<li>Fixed margins on <code>.table-responsive</code> wrapping <code>&lt;div&gt;</code> on tables with margins</li>
<li>Fixed transitions on <code>&lt;textarea&gt;</code> for <code>color</code>, <code>background</code>, and <code>border</code></li>
</ul>
    </section>
</article>
