<article>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "SoftwareApplication",
  "name" : "Turret",
  "image" : "https://avatars1.githubusercontent.com/u/23046454?v&#x3D;4",
  "url" : "https://turretcss.com/",
  "author" : {
    "@type" : "Organization",
    "name" : "turretcss"
  },
  "datePublished" : "2018-05-14",
  "publisher" : {
    "@type" : "Organization",
    "name" : "turretcss"
  },
  "applicationCategory" : "frontend framework",
  "downloadUrl" : "https://github.com/turretcss/turretcss",
  "operatingSystem" : "Windows, OSX, Android, IOS, all",
  "requirements" : "CSS, JavaScript",
  "softwareVersion" : "v4.1.4",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingCount" : "512"
  },
  "review" : {
    "@type" : "Review",
    "author" : {
      "@type" : "Person",
      "name" : "Saravanakumar.org"
    },
    "datePublished" : "2018-08-22",
    "reviewBody" : "Written in  Less . Very good build in templates are available. This is frameworks design for plain. This framework Feature types are full"
  }
}
</script>


<header>
    <h1>Turret</h1>
</header>
<section class="media my-2">
  <div class="media-left">
    <img class="media-object img-thumbnail" width="100" height="100" src="https://avatars1.githubusercontent.com/u/23046454?v&#x3D;4" alt="turretcss">
  </div>
  <div class="media-body">
    <p>Turret is a styles and browser behaviour normalisation framework for rapid development of responsive and accessible websites.</p>
    <p>Developed by Organization:turretcss</p>
    <p><small>Used languages: CSS(140.05 kB), JavaScript(213.00 bytes)</small></p>
  </div>
</section>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="my-2 text-xs-center">
          <a class="btn btn-primary" href="https://github.com/turretcss/turretcss" role="button" target="_blank">Visit Github page</a>
          <a class="btn btn-primary m-1" href="https://turretcss.com/" role="button" target="_blank">Visit Turret Page</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered table-inverse sa-compare">
            <tbody class="text-xs-center">
                <tr>
                    <td>Written</td>
                    <td>
                      <span class="tag tag-pill tag-default">Sass</span>
                      <span class="tag tag-pill tag-success">Less</span>
                      <span class="tag tag-pill tag-default">JS</span>
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                      <span class="yes"><i class="fa fa-check fa-2x" aria-hidden="true"></i></span>
                    </td>
                </tr>
                <tr>
                    <td>Documents</td>
                    <td>
                      <div class="rating-box">
                                <div class="rating" style="width:80%;"></div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>Framework design</td>
                    <td><span class="text-capitalize">plain</span></td>
                </tr>
                <tr>
                    <td>Feature type</td>
                    <td><span class="text-capitalize">full</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-blue text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-cloud-download" aria-hidden="true"></i> Current version</h4>
                <h2 class="card-title">v4.1.4</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-navy text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-clone" aria-hidden="true"></i> Last release</h4>
                <h2 class="card-title">2018 M05 14</h2>
                <p class="card-text"><small>Created at 2015 M01 29</small></p>
            </div>
        </div>
        <div class="card card-inverse sa-card-brown text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Last commit</h4>
                <h2 class="card-title">2018 M05 14
                </h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="card-deck-wrapper my-2">
    <div class="card-deck">
        <div class="card card-inverse sa-card-orange text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-file-text" aria-hidden="true"></i> Open Issues</h4>
                <h2 class="card-title">2</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-fuchsia text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</h4>
                <h2 class="card-title">42</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-purple text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> Star</h4>
                <h2 class="card-title">512</h2>
            </div>
        </div>
        <div class="card card-inverse sa-card-maroon text-xs-center">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-eye" aria-hidden="true"></i> Watchers</h4>
                <h2 class="card-title">29</h2>
            </div>
        </div>
    </div>
</div>
{% if jekyll.environment == 'production' %}
<div class="my-1">
	<hr>
	<div class="my-1">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- github_pages _responsive_1 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-2445138966914411"
			 data-ad-slot="1768590408"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<hr>
</div>
{% endif %}

    <section class="my-2">
    <h1>
        Release Notes <small>on 2018 M05 14 for v4.1.4</small>
    </h1>
        <h2 id="fixes">Fixes</h2>
<ul>
<li>Reset <code>&lt;caption&gt;</code> margin for <code>:first-child</code> and <code>:last-child</code></li>
</ul>
<h2 id="updates">Updates</h2>
<ul>
<li>Updated default <code>line-height</code> variable defintions to be proper fractions</li>
</ul>
<pre><code>--line-height-xl: 1.75;
--line-height-l: 1.625;
--line-height-m: 1.5;
--line-height-s: 1.375;
--line-height-xs: 1.25;
</code></pre>
    </section>
</article>
